openapi: 3.2.0
info:
  title: Finalcad One Medias API
  version: '2.41'
  summary: 'Media upload and retrieval for the Finalcad One platform: single-shot upload, chunked upload (init / append / terminate / abort) for files over 5 MB, and downloadable media resource URLs.'
  description: 'Media upload and retrieval for the Finalcad One platform: single-shot upload, chunked upload (init / append / terminate / abort) for files over 5 MB, and downloadable media resource URLs.'
  contact:
    name: Finalcad One API — developer portal
    url: https://developer.finalcad.com/
  x-generated-by: API Evangelist enrichment pipeline (derived from the first-party Postman collection)
  x-source: collections/finalcad.postman_collection.json
  x-source-url: https://developer.finalcad.com/
servers:
- url: https://developer.finalcad.cloud/api
  description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
- url: https://developer.sandbox.finalcad.cloud/api
  description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
security:
- apiKey: []
  tokenAuth: []
tags:
- name: Medias
paths:
  /medias/uploads:
    post:
      operationId: uploadMedias
      summary: Upload medias
      description: 'Upload media less than 5 megabytes .


        For media larger than 5 megabytes, you need to use chunk upload .


        form_data mandatory infos

        Details


        media

        stream of the media


        returned infos

        Details


        id

        id of the newly created media


        file_name

        filename of the media


        mime_type

        mime type of the media'
      tags:
      - Medias
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                media:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 77f15c72-e75a-4f05-8da2-f403b9aa752f
                    file_name: Spider.png
                    mime_type: image/png
                    created_at: '2024-08-13T08:37:05.6539866Z'
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /medias/{media_id}:
    get:
      operationId: getMediaResource
      summary: Get media resource
      description: 'Given the media resource ID, you can get the media content.


        Warnings


        This is limited to media less than 10 MB


        Endpoints do not work for retrieving 3D media


        The media_resource_id is the ID returned by an endpoint that links a media to something (for example, the endpoint to create a plan). This is not the media_id used in the media upload endpoints


        Endpoint mandatory infos

        Details


        media_resource_id

        the id of the media to be downloaded'
      tags:
      - Medias
      parameters:
      - name: media_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `media_id` as published in the collection.
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /medias/{media_id}/url:
    get:
      operationId: getMediaResourceUrl
      summary: Get media resource URL
      description: 'Given the media resource ID, you can get a downloadable URL.


        ⚠️ Warnings


        Endpoints do not work for retrieving 3D plan media (returns a 404 error)


        The media_resource_id is the ID returned by an endpoint that links a media to something (for example, the endpoint to create a plan). This is not the media_id used in the media upload endpoints.


        Endpoint mandatory infos

        Details


        media_resource_id

        the id of the media to be downloaded'
      tags:
      - Medias
      parameters:
      - name: media_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `media_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    url: https://medias.eu....ROR27L6VM
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      description: Finalcad One error envelope. `api_code` is either a static code (mostly 4xx, e.g. INVALID_INSTANCE_STATE) or a constructed code of the form {ProcessCode}_ERR{n} / {ProcessCode}_WRN{n} (mostly 5xx).
      properties:
        statut:
          type: integer
          description: HTTP status code, repeated in the body (spelled `statut`).
        api_code:
          type: string
          description: Internal Finalcad API error code.
        message:
          type: string
          description: Short explanation of the abnormality encountered.
        data:
          type: object
          description: Complementary data to help understand the error.
          additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key issued by Finalcad to organizations on an Enterprise licence. Sent on every call.
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: '`Authorization: token <your_api_key>`, or `Authorization: bearer <user_token>` for the legacy user-token flow (POST /auth).'
