openapi: 3.2.0
info:
  title: Finalcad Libraries API
  version: '2.41'
  contact:
    name: Finalcad One API — developer portal
    url: https://developer.finalcad.com/
  x-generated-by: API Evangelist enrichment pipeline (derived from the first-party Postman collection)
  x-source: collections/finalcad.postman_collection.json
  x-source-url: https://developer.finalcad.com/
  description: 'Operations tagged Libraries across 2 of this provider''s published API definitions: finalcad-libraries-openapi.yml, finalcad-organizations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://developer.finalcad.cloud/api
  description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
- url: https://developer.sandbox.finalcad.cloud/api
  description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
security:
- apiKey: []
  tokenAuth: []
tags:
- name: Libraries
paths:
  /time-zones:
    get:
      operationId: getListOfTimeZones
      summary: Get list of time zones
      description: "Each project is linked to a specific time zone.\n\n By default, if not specified, Paris time is chosen. To create your project, you may want to select a different time zone.\n\n To assist you in this process, you can request the list of available time zones here."
      tags:
      - Libraries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    time_zones:
                    - id: Pacific/Niue
                      display_name: (UTC-11:00) Niue Time
                      standard_name: Niue Time
                      utc_offset: '-11:00:00'
                    - id: Pacific/Midway
                      display_name: (UTC-11:00) Samoa Standard Time
                      standard_name: Samoa Standard Time
                      utc_offset: '-11:00:00'
                    - id: Pacific/Pago_Pago
                      display_name: (UTC-11:00) Samoa Standard Time
                      standard_name: Samoa Standard Time
                      utc_offset: '-11:00:00'
                    - id: Pacific/Rarotonga
                      display_name: (UTC-10:00) Cook Islands Standard Time
                      standard_name: Cook Islands Standard Time
                      utc_offset: '-10:00:00'
                    - id: Pacific/Honolulu
                      display_name: (UTC-10:00) Hawaii-Aleutian Standard Time
                      standard_name: Hawaii-Aleutian Standard Time
                      utc_offset: '-10:00:00'
                    - id: America/Adak
                      display_name: (UTC-10:00) Hawaii-Aleutian Standard Time
                      standard_name: Hawaii-Aleutian Standard Time
                      utc_offset: '-10:00:00'
                    - id: Pacific/Tahiti
                      display_name: (UTC-10:00) Tahiti Time
                      standard_name: Tahiti Time
                      utc_offset: '-10:00:00'
                    - id: Pacific/Marquesas
                      display_name: (UTC-09:30) Marquesas Time
                      standard_name: Marquesas Time
                      utc_offset: -09:30:00
                    - id: America/Nome
                      display_name: (UTC-09:00) Alaska Standard Time
                      standard_name: Alaska Standard Time
                      utc_offset: -09:00:00
                    - id: America/Anchorage
                      display_name: (UTC-09:00) Alaska Standard Time
                      standard_name: Alaska Standard Time
                      utc_offset: -09:00:00
                    count: 10
                    total_count: 425
                    limit: 10
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organizationId}/common-observations:
    put:
      operationId: librariesObservationLibraryAddOrUpdateOrganizationCommonObservations
      summary: Add or update organization common observations
      description: "For a given category, you can add models to your library. For each, you can define translations. You can also update existing models.\n\n Compared to creation, you need to specify the ID of the ones you want to manage.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n Body parameters \n Details \n\n a list of \n\n trade_id \n id of the category \n\n id \n id of the model if modified \n\n icon \n icon name \n\n names \n list of names and langages"
      tags:
      - Libraries
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organizationId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              common_observations:
              - names:
                - language: en
                  translation: array
                - language: fr
                  translation: feed
                trade_id: <uuid>
                id: <uuid>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    common_observations:
                    - trade_id: 6198a574-7b61-44b7-8142-903349d7c7ef
                      id: e7f3607b-be5a-4556-82e7-dc90e6f7db8a
                      names:
                      - language: fr
                        translation: Prises
                      - language: en
                        translation: Outlets
                    - trade_id: 9adcae91-2db4-4a7f-840c-aaf00c980d7c
                      id: c2394c8d-47c5-4c14-96e7-0b805d550bb7
                      names:
                      - language: fr
                        translation: Evacuations
                      - language: en
                        translation: Draining
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: librariesObservationLibraryDeleteOrganizationCommonObservations
      summary: Delete organization common observations
      description: "You can provide the list of model IDs and their corresponding category IDs that you want to remove from your library. Those values won't be used as default project values, but they will still be usable in existing projects.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n Body parameters \n Details \n\n a list of \n\n id \n id of the model \n\n trade_id \n id of the category"
      tags:
      - Libraries
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organizationId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              common_observations:
              - id: <uuid>
                trade_id: <uuid>
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/forms:
    get:
      operationId: librariesFormTemplatesGetOrganizationFormTemplates
      summary: Get organization form templates
      description: "Get the list of form templates in your organization.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n Query params optionals \n\n limit \n number max of elements to get \n\n offset \n index of the first returned element"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    form_templates:
                    - id: 0401e23a-5031-419f-9f93-aef05fc572ef
                      names:
                      - language: en
                        translation: Formulaire avec tous les champs
                      form_template_languages:
                      - language: en
                        is_default: true
                      visibility: Available
                    - id: 68cf2910-1044-4e6c-a11b-a4b319f8da98
                      names:
                      - language: en
                        translation: mon_modele
                      form_template_languages:
                      - language: fr
                        is_default: true
                      visibility: Available
                    count: 2
                    total_count: 2
                    limit: 50
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/forms/{form_id}:
    get:
      operationId: librariesFormTemplatesGetFormTemplate
      summary: Get form template
      description: "You can get a complete form template description.\n\n Endpoint mandatory infos \n Details \n\n project_Id \n the id of the project to be modified \n\n form_id \n id the the form template used by the form instance (look at get form detail to found it)"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      - name: Accept-Language
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Get_form_template:
                  value:
                    id: 6146039d-8734-48e5-bf2b-5034c63a7bbc
                    names:
                    - locale: fr
                      translation: FormTemplate dans WS
                    created_at: '2024-04-30T13:34:01.728Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2024-04-30T13:35:07.052Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    enabled: false
                    version: 1
                    form_statuses:
                    - id: 290d3800-1b2d-47bc-a590-8986e9f796b4
                      color: '#49CB0C'
                      num: 1
                      default_status: false
                      names:
                      - locale: th
                        translation: ทำเสร็จแล้ว
                      - locale: vi
                        translation: Đã hoàn thành
                      - locale: es
                        translation: Realizado
                      - locale: de
                        translation: Erledigt
                      - locale: ca
                        translation: Fet
                      - locale: fr
                        translation: Terminé
                      - locale: zh
                        translation: 已完成
                      - locale: nl
                        translation: Gedaan
                      - locale: ja
                        translation: 完了
                      - locale: it
                        translation: Fatto
                      - locale: en
                        translation: Done
                      - locale: pt
                        translation: Feito
                    - id: 31fcfbca-82e5-4010-a7e9-e0351560e70a
                      color: '#E94F3D'
                      num: 2
                      default_status: false
                      names:
                      - locale: nl
                        translation: Niet conform
                      - locale: ca
                        translation: No conforme
                      - locale: pt
                        translation: Não conforme
                      - locale: de
                        translation: Nicht konform
                      - locale: it
                        translation: Non conforme
                      - locale: vi
                        translation: Không tuân thủ
                      - locale: zh
                        translation: 不合要求
                      - locale: en
                        translation: Not Compliant
                      - locale: es
                        translation: No conforme
                      - locale: fr
                        translation: Non conforme
                      - locale: th
                        translation: ไม่เป็นไปตามข้อกำหนด
                      - locale: ja
                        translation: 対応不可
                    - id: ad9bc5a6-c774-4292-958c-045787968a1f
                      color: '#EBBB1C'
                      num: 0
                      default_status: true
                      names:
                      - locale: fr
                        translation: À faire
                      - locale: de
                        translation: Zu erledigen
                      - locale: zh
                        translation: 待办
                      - locale: th
                        translation: ที่ต้องทำ
                      - locale: ca
                        translation: Per fer
                      - locale: en
                        translation: To do
                      - locale: nl
                        translation: Te doen
                      - locale: ja
                        translation: するために
                      - locale: es
                        translation: Pendiente
                      - locale: it
                        translation: Da fare
                      - locale: pt
                        translation: Para fazer
                      - locale: vi
                        translation: Cần làm
                    - id: e792f411-093d-4fba-abdd-93a3af5e26da
                      color: '#264AA7'
                      num: 3
                      default_status: false
                      names:
                      - locale: fr
                        translation: Annulé
                    form_template:
                      id: 2ce76c9c-d083-4cf3-82f2-25150236a097
                      name: FormTemplate dans WS
                      version: 1
                      parts:
                      - id: f3a1b5b0-a9b1-4029-bc5f-2f05474ebf69
                        form_template_id: 2ce76c9c-d083-4cf3-82f2-25150236a097
                        name: Nom de la partie
                        num: 0
                        sections:
                        - id: 8017ce0e-8c55-47b0-9462-103c63d77c49
                          part_id: f3a1b5b0-a9b1-4029-bc5f-2f05474ebf69
                          name: Nom de la section
                          num: 0
                          qr_code: false
                          fields:
                          - id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                            form_template_section_id: 8017ce0e-8c55-47b0-9462-103c63d77c49
                            name: Entrez un nom de champ
                            num: 0
                            type_field_data: Text
                            type_field_presentation: SingleChoice
                            required: false
                            form_field_sa_control:
                              id: f658e05f-cbfa-4a3a-861d-52024331c5e7
                              form_field_id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                              na_values_allowed: true
                              presentation: RadioButton
                            form_field_choices:
                            - id: 53330627-6c44-43fe-a9e0-3eb8e754d302
                              form_field_id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                              name: Option 1
                              num: 1
                              is_default_value: false
                              evaluate_value: 3
                            - id: da7b9df8-0246-4a78-b138-4e21e1ed7cc6
                              form_field_id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                              name: Option 2
                              num: 2
                              is_default_value: false
                              evaluate_value: 3
                          - id: 4c79f526-d279-410f-ad62-3c1da3e8fafe
                            form_template_section_id: 8017ce0e-8c55-47b0-9462-103c63d77c49
                            name: Entrez un nom de champ
                            num: 1
                            type_field_data: Text
                            type_field_presentation: Paragraph
                            required: false
                            form_field_sa_text:
                              id: c16c788b-0a34-4963-8911-751933b5662f
                              form_field_id: 4c79f526-d279-410f-ad62-3c1da3e8fafe
                              only_text: false
                              case_sensitive: InitCapWholeText
                      progress: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/forms/{form_id}/custom/infos:
    get:
      operationId: librariesFormTemplatesGetCustomTemplateAssociationInformation
      summary: Get custom template association information
      description: "Get the association between a form template and a custom report template.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n form_id \n the id of the form template"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                In_Progress:
                  value:
                    custom_template_name: DB-example-v1.odt
                    possible_output_formats:
                    - PDF
                    - ODT
                    - DOC
                    - DOCX
                    - TXT
                    - JPG
                    - PNG
                    - EPUB
                Success:
                  value:
                    custom_template_id: de838bffa11667325082594464bbc11974749f4de5729b1209ea7a4427c71129
                    custom_template_name: DB-example-v1.odt
                    possible_output_formats:
                    - PDF
                    - ODT
                    - DOC
                    - DOCX
                    - TXT
                    - JPG
                    - PNG
                    - EPUB
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/forms/{form_id}/custom/set:
    post:
      operationId: librariesFormTemplatesSetOrganizationFormTemplateCustomReportAssociation
      summary: Set organization form template custom report association
      description: "Set the association between a form template and a custom report template previously uploaded.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n form_id \n id the the form template \n\n Body mandatory params \n\n media_id \n id returned by the media upload process"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              media_id: <uuid>
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/forms/{form_id}/statuses:
    get:
      operationId: librariesFormTemplatesGetFormTemplatesStatuses
      summary: Get form templates statuses
      description: "For a given form template you can list his statuses\n\n Endpoint mandatory infos \n Details \n\n organization_id \n the id of your organization \n\n form_id \n the form template id"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    statuses:
                    - id: 91a6da3e-426d-42bd-bdb9-9ea9e4f02e3e
                      name: To do
                      position: 0
                      color: '#EBBB1C'
                      enabled: false
                    - id: ac7bbfde-1ae8-4af9-b2e0-ca69023dad52
                      name: Done
                      position: 0
                      color: '#49CB0C'
                      enabled: false
                    - id: 8e2e608a-dbf9-4166-a601-0d85b4a930a7
                      name: Not Compliant
                      position: 0
                      color: '#E94F3D'
                      enabled: false
                    count: 3
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/modules:
    get:
      operationId: librariesModulesFormModuleTypeGetModules
      summary: Get modules
      description: "Get the list of all existing form modules for a workspace.\n\n Endpoint mandatory info \n Details \n\n organization_id \n The ID of your organization \n\n workspace_id \n id of your workspace \n\n Query params optionals \n\n limit \n number max of rows returned \n\n offset \n number of the first record in the list"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Get_Modules:
                  value:
                    modules:
                    - id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Forms
                      icon: clipboard
                      color: '#F7CE46'
                      type: Forms
                      visibility: Default
                      module_forms:
                      - form_id: 9b2de0df-6504-48db-a923-b71d6553e48b
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 1aa8afc4-3106-446b-a471-55fc413d9867
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 0f5d26f7-523e-4453-b61c-0fd8d59f008a
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - form_id: 40accad9-12c5-46da-aa2c-ad6c59972d81
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 869701f4-9ebb-4640-bffe-a676361350f7
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - form_id: cf9d18bd-d473-400a-909a-e48ea0eb1404
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      module_content:
                      - id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                        name: Categ Form 1
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: 1c1318ff-07c2-4489-94d5-d32b4a1b4eff
                          name: Categ Form 1.1
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                          children:
                          - id: 9b2de0df-6504-48db-a923-b71d6553e48b
                            parent_id: 1c1318ff-07c2-4489-94d5-d32b4a1b4eff
                            content_type: Form
                            container_id: 2421734c-f191-4237-acd8-becf216eaae4
                            container_type: Organization
                        - id: 1aa8afc4-3106-446b-a471-55fc413d9867
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Form
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                        - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Form
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                        - id: 0f5d26f7-523e-4453-b61c-0fd8d59f008a
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Form
                          container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                          container_type: Workspace
                      - id: 593647a7-8647-49ba-9552-739125b12486
                        name: Categ Form 2
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: e7b13254-7bcf-4558-a221-3e15be270c3f
                          name: Categ form 2.1
                          parent_id: 593647a7-8647-49ba-9552-739125b12486
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                        - id: 40accad9-12c5-46da-aa2c-ad6c59972d81
                          parent_id: 593647a7-8647-49ba-9552-739125b12486
                          content_type: Form
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                      - id: 1aa8afc4-3106-446b-a471-55fc413d9867
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 40accad9-12c5-46da-aa2c-ad6c59972d81
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 869701f4-9ebb-4640-bffe-a676361350f7
                        content_type: Form
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - id: cf9d18bd-d473-400a-909a-e48ea0eb1404
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2023-06-30T15:16:42.168073Z'
                      updated_at: '2023-07-14T11:40:48.382866Z'
                    - id: a41a8c18-b754-4b65-be6c-22c63987c995
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: New Forms
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_forms:
                      - form_id: ed7c6fd4-a3d9-4d28-b02f-9a33d8e61e5c
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 8f256be7-99e2-43ce-a427-628bddf65d78
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      module_content:
                      - id: 89bea999-7e06-42b0-900b-8d3a2fd0b362
                        name: test cad pour data
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: ed7c6fd4-a3d9-4d28-b02f-9a33d8e61e5c
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 8f256be7-99e2-43ce-a427-628bddf65d78
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2023-09-13T09:25:41.084751Z'
                      updated_at: '2023-09-13T09:29:41.773268Z'
                    - id: 4d9fbb6f-5060-45ae-9b27-cc806c4b1487
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: Essai new module
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      visibility: NotAvailable
                      module_content:
                      - id: 505d5a67-4acc-4a22-98ed-3f715fb0c8ef
                        name: Categorie aaa
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 1cbe1164-ebcd-468a-b05d-69a8f4874e4c
                        name: Categorie bbb
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: efb034ba-24ca-42f2-a7c3-36f666612d99
                        name: Categorie ccc
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2023-09-22T06:54:55.589216Z'
                      updated_at: '2023-09-22T06:54:55.589216Z'
                    - id: 67a8aed1-56f8-437e-91d9-0385c24c9aea
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: api test form answers
                      icon: alertTriangle
                      color: '#C0DF43'
                      type: Forms
                      visibility: Available
                      created_at: '2023-11-30T08:25:00.24386Z'
                      updated_at: '2023-11-30T08:25:15.235666Z'
                    - id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: test create new form ---
                      icon: alert
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_forms:
                      - form_id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      module_content:
                      - id: 37eca3a3-aeaa-4730-9c69-afeb0e49a933
                        name: Aze
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: 9c150a71-be7c-4f0b-8669-507dcfbfa674
                          name: Aze 2.1
                          parent_id: 37eca3a3-aeaa-4730-9c69-afeb0e49a933
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                      - id: f81b8786-935c-4413-af30-faf159c13f2b
                        name: cat 2
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2024-02-15T09:50:14.619561Z'
                      updated_at: '2024-02-16T08:48:08.782081Z'
                    - id: 85e32ecc-955e-4f44-831e-93adca197625
                      container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                      container_type: Workspace
                      name: qsdfgh
                      icon: alert
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_forms:
                      - form_id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      module_content:
                      - id: a734170b-6e57-4758-a507-6961e0166b48
                        name: cat ws
                        content_type: Category
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - id: 09dc3d33-4799-418f-a3f2-766cfb55b715
                        name: cat ws 22
                        content_type: Category
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                        children:
                        - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                          parent_id: 09dc3d33-4799-418f-a3f2-766cfb55b715
                          content_type: Form
                          container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                          container_type: Workspace
                      - id: c5c2809c-061b-4d81-93d9-392df121e315
                        name: ess act 2
                        content_type: Category
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        content_type: Form
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      created_at: '2024-02-15T13:29:22.180989Z'
                      updated_at: '2024-02-16T09:23:25.638848Z'
                    - id: f5d33e97-6f40-478f-87bf-1fa04a0843ff
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: ngu postman 20230703 1420
                      icon: icon
                      color: '#FFFFFF'
                      type: Forms
                      visibility: Available
                      module_content:
                      - id: 99bb4d5a-51e3-4a65-b5c0-dec520a7a6b9
                        name: Aze 2.1
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: a8bc3515-7e92-4050-be84-64812e982f01
                          name: Aze 2.1
                          parent_id: 99bb4d5a-51e3-4a65-b5c0-dec520a7a6b9
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                      created_at: '2024-03-07T14:17:09.952617Z'
                      updated_at: '2024-03-07T14:17:09.952617Z'
                    - id: 8cf9151c-0a0b-4675-befe-64d868b466ec
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: test create new form Available
                      icon: alert
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_content:
                      - id: 7d385066-8686-4357-940d-90524f03be97
                        name: cat 3----1
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 04bf1a6d-ce26-484f-93f5-d489eb71452b
                        name: cat 3----2
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2024-04-11T14:01:12.937062Z'
                      updated_at: '2024-04-11T14:02:20.7693Z'
                    count: 8
                    total_count: 8
                    limit: 100
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: librariesModulesFormModuleTypeCreateModule
      summary: Create module
      description: "You can create a custom form module in a specific workspace.\n\n Endpoint mandatory infos \n Details \n\n organization_Id \n the id of the organization to be modified \n\n workspace_id \n id of your workspace \n\n body mandatory infos \n Details \n\n name \n name of the new module \n\n icon \n name of the icon \n(look at finalcad libraries) \n\n color \n rbg value of the color \n(look at finalcad libraries) \n\n visibility \n visibiity of the module in the module suggestion s list in the project creation \nDefault=>checked by default \nAvailable => unchecked by default \nNotAvailable => not in the list"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: azerty in ws
              icon: <string>
              color: <string>
              visibility: Default
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Create_Module:
                  value:
                    id: 8cf9151c-0a0b-4675-befe-64d868b466ec
                    container_id: 2421734c-f191-4237-acd8-becf216eaae4
                    container_type: Organization
                    name: new form test create 2
                    icon: alert
                    color: '#E94F3D'
                    type: Forms
                    visibility: Default
                    created_at: '2024-04-11T14:01:12.9370622Z'
                    updated_at: '2024-04-11T14:01:12.9370622Z'
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/modules/delete:
    post:
      operationId: librariesModulesFormModuleTypeDeleteModule
      summary: Delete module
      description: "You can delete a specific module in a specific workspace.\n\n Endpoint mandatory infos \n Details \n\n organization_Id \n the id of the project to be modified \n\n workspace_id \n id of your workspace \n\n body mandatory infos \n Details \n\n module_ids \n ist of modules ids"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              module_ids:
              - <uuid>
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    servers:
    - url: https://developer.finalcad.cloud/api
      description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
    - url: https://developer.sandbox.finalcad.cloud/api
      description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
  /organizations/{organization_id}/modules/suggestions:
    get:
      operationId: librariesModulesGetModulesSuggestions
      summary: Get modules suggestions
      description: "Get all the predefined module suggestions for project creation if the project should be created in a workspace or an organization.\n\n Endpoint mandatory info \n Details \n\n organization_id \n The ID of your organization \n\n Endpoint Query optionals info \n Details \n\n workspace_id \n id of your workspace"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    suggestions:
                    - is_default: true
                      names:
                      - language: en
                        translation: Forms
                      - language: ar
                        translation: إستمارات
                      - language: ca
                        translation: Formularis
                      - language: cs
                        translation: formuláře
                      - language: da
                        translation: Forms
                      - language: de-DE
                        translation: Formulare
                      - language: el
                        translation: Φόρμες
                      - language: es
                        translation: Formularios
                      - language: fi
                        translation: Lomakkeet
                      - language: fr
                        translation: Formulaires
                      - language: he
                        translation: טפסים
                      - language: hu
                        translation: Űrlapok
                      - language: id
                        translation: Formulir
                      - language: it
                        translation: Moduli
                      - language: ja
                        translation: 工事帳票
                      - language: ko-KR
                        translation: 양식
                      - language: nb
                      - language: nl-NL
                        translation: Formulieren
                      - language: pl
                        translation: Formularze
                      - language: pt
                        translation: Formulários
                      - language: ro
                        translation: Formulare
                      - language: ru
                        translation: Формы
                      - language: sl-SI
                        translation: Obrazci
                      - language: sv
                        translation: Formulär
                      - language: th
                        translation: แบบฟอร์ม
                      - language: tr
                        translation: Formlar
                      - language: vi
                        translation: Biểu mẫu
                      - language: zf
                      - language: zh-Hans
                        translation: 表单
                      id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Forms
                      icon: clipboard
                      color: '#F7CE46'
                      type: Forms
                      created_at: '2023-06-30T15:16:42.168073Z'
                      updated_at: '2023-07-14T11:40:48.382866Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Quality
                      - language: ar
                        translation: جودة
                      - language: ca
                        translation: Qualitat
                      - language: cs
                        translation: Kvalitní
                      - language: da
                        translation: Kvalitet
                      - language: de-DE
                        translation: Qualität
                      - language: el
                        translation: Ποιότητα
                      - language: es
                        translation: Calidad
                      - language: fi
                        translation: Laatu
                      - language: fr
                        translation: Qualité
                      - language: he
                        translation: איכות
                      - language: hu
                        translation: Minőség
                      - language: id
                        translation: Kualitas
                      - language: it
                        translation: Qualità
                      - language: ja
                        translation: 品質
                      - language: ko-KR
                        translation: 품질
                      - language: nb
                      - language: nl-NL
                        translation: Kwaliteit
                      - language: pl
                        translation: Jakość
                      - language: pt
                        translation: Qualidade
                      - language: ro
                        translation: Calitate
                      - language: ru
                        translation: Качество
                      - language: sl-SI
                        translation: Kakovost
                      - language: sv
                        translation: Kvalitet
                      - language: th
                        translation: คุณภาพ
                      - language: tr
                        translation: Kalite
                      - language: vi
                        translation: Chất lượng
                      - language: zf
                      - language: zh-Hans
                        translation: 质量
                      id: 125ae973-3e43-4862-9af4-3cb13dcac81c
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Qualité
                      icon: star
                      color: '#01D194'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Environment
                      - language: ar
                        translation: بيئة
                      - language: ca
                        translation: Entorn
                      - language: cs
                        translation: životní prostředí
                      - language: da
                        translation: Miljø
                      - language: de-DE
                        translation: Umgebung
                      - language: el
                        translation: περιβάλλον
                      - language: es
                        translation: Medio ambiente
                      - language: fi
                        translation: ympäristö
                      - language: fr
                        translation: Environnement
                      - language: he
                        translation: סביבה
                      - language: hu
                        translation: Környezet
                      - language: id
                        translation: Lingkungan
                      - language: it
                        translation: Ambiente
                      - language: ja
                        translation: 環境
                      - language: ko-KR
                        translation: 환경
                      - language: nb
                      - language: nl-NL
                        translation: Omgeving
                      - language: pl
                        translation: Środowisko
                      - language: pt
                        translation: Ambiente
                      - language: ro
                        translation: Mediu inconjurator
                      - language: ru
                        translation: Окружающая среда
                      - language: sl-SI
                        translation: Okolje
                      - language: sv
                        translation: Miljö
                      - language: th
                        translation: สิ่งแวดล้อม
                      - language: tr
                        translation: çevre
                      - language: vi
                        translation: Môi trường
                      - language: zf
                      - language: zh-Hans
                        translation: 环境
                      id: 1d0ae170-f499-4649-b17d-d44008220600
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Environnemment
                      icon: environment
                      color: '#7FCE1A'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Site Diary
                      - language: ar
                        translation: يوميات الموقع
                      - language: ca
                        translation: Agenda de l'obra
                      - language: cs
                        translation: Deník webu
                      - language: da
                        translation: Site dagbog
                      - language: de-DE
                        translation: Standort-Tagebuch
                      - language: el
                        translation: Ημερολόγιο τοποθεσίας
                      - language: es
                        translation: Diario del sitio
                      - language: fi
                        translation: Sivuston päiväkirja
                      - language: fr
                        translation: Journal de chantier
                      - language: he
                        translation: יומן האתר
                      - language: hu
                        translation: Helyi napló
                      - language: id
                        translation: Buku harian situs
                      - language: it
                        translation: Diario del sito
                      - language: ja
                        translation: サイトダイアリー
                      - language: ko-KR
                        translation: 현장 일지
                      - language: nb
                      - language: nl-NL
                        translation: Bouwplaats logboek
                      - language: pl
                        translation: Dziennik witryny
                      - language: pt
                        translation: Livro de obra
                      - language: ro
                        translation: Jurnal de site
                      - language: ru
                        translation: Дневник сайта
                      - language: sl-SI
                        translation: Opažanja
                      - language: sv
                        translation: Webbplats dagbok
                      - language: th
                        translation: บันทึกประจำวันไซต์
                      - language: tr
                        translation: Site günlüğü
                      - language: vi
                        translation: Nhật ký công trường
                      - language: zf
                      - language: zh-Hans
                        translation: 工地工程日志
                      id: 391ede05-46a9-4676-99d7-cfe0d07f8a75
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Journal de chantier
                      icon: bookOpen
                      color: '#4CABF2'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Safety
                      - language: ar
                        translation: سلامة
                      - language: ca
                        translation: Seguretat
                      - language: cs
                        translation: Bezpečnost
                      - language: da
                        translation: Sikkerhed
                      - language: de-DE
                        translation: Sicherheit
                      - language: el
                        translation: Ασφάλεια
                      - language: es
                        translation: Seguridad
                      - language: fi
                        translation: Turvallisuus
                      - language: fr
                        translation: Sécurité
                      - language: he
                        translation: בטיחות
                      - language: hu
                        translation: Biztonság
                      - language: id
                        translation: Keamanan
                      - language: it
                        translation: Sicurezza
                      - language: ja
                        translation: 安全性
                      - language: ko-KR
                        translation: 안전
                      - language: nb
                      - language: nl-NL
                        translation: Veiligheid
                      - language: pl
                        translation: Bezpieczeństwo
                      - language: pt
                        translation: Segurança
                      - language: ro
                        translation: Siguranță
                      - language: ru
                        translation: Безопасность
                      - language: sl-SI
                        translation: Varnost
                      - language: sv
                        translation: Säkerhet
                      - language: th
                        translation: ความปลอดภัย
                      - language: tr
                        translation: Emniyet
                      - language: vi
                        translation: An toàn
                      - language: zf
                      - language: zh-Hans
                        translation: 安全
                      id: 3fd4f4af-089b-4e06-a924-32ee4f600f02
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Sécurité
                      icon: helmet
                      color: '#FF8029'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: true
                      names:
                      - language: en
                        translation: Observations
                      - language: ar
                        translation: ملاحظات
                      - language: ca
                        translation: Observacions
                      - language: cs
                        translation: Pozorování
                      - language: da
                        translation: Bemærkninger
                      - language: de-DE
                        translation: Beobachtungen
                      - language: el
                        translation: Παρατηρήσεις
                      - language: es
                        translation: Observaciones
                      - language: fi
                        translation: Havaintoja
                      - language: fr
                        translation: Observations
                      - language: he
                        translation: תצפיות
                      - language: hu
                        translation: Észrevételek
                      - language: id
                        translation: Pengamatan
                      - language: it
                        translation: Osservazioni
                      - language: ja
                        translation: 指摘事項
                      - language: ko-KR
                        translation: 관찰 사항
                      - language: nb
                      - language: nl-NL
                        translation: Opmerkingen
                      - language: pl
                        translation: Obserwacje
                      - language: pt
                        translation: Observações
                      - language: ro
                        translation: Observatii
                      - language: ru
                        translation: наблюдения
                      - language: sl-SI
                        translation: Opažanja
                      - language: sv
                        translation: observationer
                      - language: th
                        translation: ข้อสังเกต
                      - language: tr
                        translation: gözlemler
                      - language: vi
                        translation: Những theo dõi
                      - language: zf
                      - language: zh-Hans
                        translation: 观察报告
                      id: 44d459d4-fa20-4484-b4bf-fd520c459566
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Observations
                      icon: alert
                      color: '#E94F3D'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Estimation
                      - language: ar
                        translation: تقدير
                      - language: ca
                        translation: Estimació
                      - language: cs
                        translation: Odhad
                      - language: da
                        translation: Skøn
                      - language: de-DE
                        translation: Einschätzung
                      - language: el
                        translation: Εκτίμηση
                      - language: es
                        translation: Estimación
                      - language: fi
                        translation: Arvio
                      - language: fr
                        translation: Estimation
                      - language: he
                        translation: אוּמדָן
                      - language: hu
                        translation: Becslés
                      - language: id
                        translation: Perkiraan
                      - language: it
                        translation: Stima
                      - language: ja
                        translation: 推定
                      - language: ko-KR
                        translation: 견적
                      - language: nb
                      - language: nl-NL
                        translation: Schätzung
                      - language: pl
                        translation: Oszacowanie
                      - language: pt
                        translation: Estimativa
                      - language: ro
                        translation: Estimare
                      - language: ru
                        translation: Предварительный расчет
                      - language: sl-SI
                        translation: Ocena
                      - language: sv
                        translation: Uppskattning
                      - language: th
                        translation: การประมาณ
                      - language: tr
                        translation: Tahmin
                      - language: vi
                        translation: Dự báo
                      - language: zf
                      - language: zh-Hans
                        translation: 估算
                      id: 478eb22c-30ee-4691-b27e-f2539f644794
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Chiffrage '
                      icon: euro
                      color: '#7783FF'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Materials
                      - language: ar
                        translation: المواد
                      - language: ca
                        translation: Materials
                      - language: cs
                        translation: Materiály
                      - language: da
                        translation: Materialer
                      - language: de-DE
                        translation: Materialien
                      - language: el
                        translation: Υλικά
                      - language: es
                        translation: Materiales
                      - language: fi
                        translation: tarvikkeet
                      - language: fr
                        translation: Matériaux
                      - language: he
                        translation: חומרים
                      - language: hu
                        translation: anyagok
                      - language: id
                        translation: Bahan
                      - language: it
                        translation: Materiali
                      - language: ja
                        translation: 素材
                      - language: ko-KR
                        translation: 기재
                      - language: nb
                      - language: nl-NL
                        translation: Materialen
                      - language: pl
                        translation: Materiały
                      - language: pt
                        translation: Materiais
                      - language: ro
                        translation: Materiale
                      - language: ru
                        translation: материалы
                      - language: sl-SI
                        translation: Obrazci
                      - language: sv
                        translation: Material
                      - language: th
                        translation: วัสดุ
                      - language: tr
                        translation: Malzemeler
                      - language: vi
                        translation: Vật liệu
                      - language: zf
                      - language: zh-Hans
                        translation: 材料
                      id: 70df7ea5-7ef6-4b71-9b52-848ec968a680
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Matériaux
                      icon: bricks
                      color: '#FF8029'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Tasks
                      - language: ar
                        translation: المهام
                      - language: ca
                        translation: Tasques
                      - language: cs
                        translation: Úkoly
                      - language: da
                        translation: Opgaver
                      - language: de-DE
                        translation: Tasks
                      - language: el
                        translation: Καθήκοντα
                      - language: es
                        translation: Tareas
                      - language: fi
                        translation: Tehtävät
                      - language: fr
                        translation: Tâches
                      - language: he
                        translation: משימות
                      - language: hu
                        translation: Feladatok
                      - language: id
                        translation: Rapat
                      - language: it
                        translation: Riunioni
                      - language: ja
                        translation: ミーティング
                      - language: ko-KR
                        translation: 회의
                      - language: nb
                      - language: nl-NL
                        translation: Vergaderingen
                      - language: pl
                        translation: Spotkania
                      - language: pt
                        translation: Encontros
                      - language: ro
                        translation: Întâlniri
                      - language: ru
                        translation: Встречи
                      - language: sl-SI
                        translation: Srečanja
                      - language: sv
                        translation: Möten
                      - language: th
                        translation: การประชุม
                      - language: tr
                        translation: Toplantılar
                      - language: vi
                        translation: Cuộc họp
                      - language: zf
                      - language: zh-Hans
                        translation: 会议
                      id: 7fe77495-2ae5-4345-b647-f455be6a19d4
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Tâches
                      icon: checkCircle
                      color: '#3B7CDE'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Hygiene
                      - language: ar
                        translation: صحة
                      - language: ca
                        translation: Higiene
                      - language: cs
                        translation: Hygiena
                      - language: da
                        translation: Hygiejne
                      - language: de-DE
                        translation: Hygiene
                      - language: el
                        translation: Υγιεινή
                      - language: es
                        translation: Higiene
                      - language: fi
                        translation: Hygienia
                      - language: fr
                        translation: Hygiène
                      - language: he
                        translation: בריאות
                      - language: hu
                        translation: Higiénia
                      - language: id
                        translation: Kebersihan
                      - language: it
                        translation: Igiene
                      - language: ja
                        translation: 衛生
                      - language: ko-KR
                        translation: 위생
                      - language: nb
                      - language: nl-NL
                        translation: Hygiëne
                      - language: pl
                        translation: Higiena
                      - language: pt
                        translation: Higiene
                      - language: ro
                        translation: Igienă
                      - language: ru
                        translation: Гигиена
                      - language: sl-SI
                        translation: Higiena
                      - language: sv
                        translation: Hygien
                      - language: th
                        translation: สุขอนามัย
                      - language: tr
                        translation: Hijyen
                      - language: vi
                        translation: Vệ sinh
                      - language: zf
                      - language: zh-Hans
                        translation: 卫生
                      id: eab12a4a-7b44-46c1-abbb-9a6624369335
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Hygiène
                      icon: clean
                      color: '#92D8FF'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Extra Work
                      - language: ar
                        translation: عمل اضافي
                      - language: ca
                        translation: Treball extra
                      - language: cs
                        translation: Práce navíc
                      - language: da
                        translation: Ekstra arbejde
                      - language: de-DE
                        translation: Extra Arbeit
                      - language: el
                        translation: Επιπλέον δουλειά
                      - language: es
                        translation: Trabajo extra
                      - language: fi
                        translation: Lisätyö
                      - language: fr
                        translation: Extra Work
                      - language: he
                        translation: עבודה נוספת
                      - language: hu
                        translation: Extra munka
                      - language: id
                        translation: Pekerjaan Tambahan
                      - language: it
                        translation: Lavoro aggiuntivo
                      - language: ja
                        translation: エクストラ・ワーク
                      - language: ko-KR
                        translation: 추가 업무
                      - language: nb
                      - language: nl-NL
                        translation: Extra werk
                      - language: pl
                        translation: Dodatkowa praca
                      - language: pt
                        translation: Trabalho extra
                      - language: ro
                        translation: Muncă în plus
                      - language: ru
                        translation: Дополнительная работа
                      - language: sl-SI
                        translation: Dodatno delo
                      - language: sv
                        translation: Extraarbete
                      - language: th
                        translation: งานเพิ่มเติม
                      - language: tr
                        translation: ekstra iş
                      - language: vi
                        translation: Công việc thêm
                      - language: zf
                      - language: zh-Hans
                        translation: 额外工作
                      id: be73ba88-1584-4d87-98a2-fee38da1b467
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Travaux supplémentaires
                      icon: brush
                      color: '#FFC267'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: true
                      names:
                      - language: en
                        translation: Meetings
                      - language: ar
                        translation: الاجتماعات
                      - language: ca
                        translation: Reunions
                      - language: cs
                        translation: Setkání
                      - language: da
                        translation: Møder
                      - language: de-DE
                        translation: Meetings
                      - language: el
                        translation: Συναντήσεις
                      - language: es
                        translation: Reunións
                      - language: fi
                        translation: Kokoukset
                      - language: fr
                        translation: Réunions
                      - language: he
                        translation: פגישות
                      - language: hu
                        translation: Találkozók
                      - language: id
                        translation: Rapat
                      - language: it
                        translation: Riunioni
                      - language: ja
                        translation: ミーティング
                      - language: ko-KR
                        translation: 회의
                      - language: nb
                      - language: nl-NL
                        translation: Vergaderingen
                      - language: pl
                        translation: Spotkania
                      - language: pt
                        translation: Encontros
                      - language: ro
                        translation: Întâlniri
                      - language: ru
                        translation: Встречи
                      - language: sl-SI
                        translation: Srečanja
                      - language: sv
                        translation: Möten
                      - language: th
                        translation: การประชุม
                      - language: tr
                        translation: Toplantılar
                      - language: vi
                        translation: Cuộc họp
                      - language: zf
                      - language: zh-Hans
                        translation: 会议
                      id: dfb800a2-cfa7-444c-ae30-5369f8535e17
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Réunions '
                      icon: meetings
                      color: '#4CABF2'
                      type: Meetings
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Equipment
                      - language: ar
                        translation: ادوات
                      - language: ca
                        translation: Equipament
                      - language: cs
                        translation: Zařízení
                      - language: da
                        translation: Udstyr
                      - language: de-DE
                        translation: Ausrüstung
                      - language: el
                        translation: Εξοπλισμός
                      - language: es
                        translation: Equipo
                      - language: fi
                        translation: Laitteet
                      - language: fr
                        translation: Matériel
                      - language: he
                        translation: צִיוּד
                      - language: hu
                        translation: Felszerelés
                      - language: id
                        translation: Kerja tambahan
                      - language: it
                        translation: Lavoro extra
                      - language: ja
                        translation: エクストラ・ワーク
                      - language: ko-KR
                        translation: 추가 업무
                      - language: nb
                      - language: nl-NL
                        translation: Extra werk
                      - language: pl
                        translation: Sprzęt
                      - language: pt
                        translation: Equipamento
                      - language: ro
                        translation: echipament
                      - language: ru
                        translation: Оборудование
                      - language: sl-SI
                        translation: Oprema
                      - language: sv
                        translation: Utrustning
                      - language: th
                        translation: อุปกรณ์
                      - language: tr
                        translation: ekipman
                      - language: vi
                        translation: Thiết bị
                      - language: zf
                      - language: zh-Hans
                        translation: 设备
                      id: e53cc00d-4980-409e-9a52-40706fd77b5f
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Equipement '
                      icon: hammer
                      color: '#01D194'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Personnel
                      - language: ar
                        translation: شؤون الموظفين
                      - language: ca
                        translation: Personal
                      - language: cs
                        translation: Personál
                      - language: da
                        translation: Personale
                      - language: de-DE
                        translation: Personal
                      - language: el
                        translation: Προσωπικό
                      - language: es
                        translation: Personal
                      - language: fi
                        translation: Henkilöstö
                      - language: fr
                        translation: Personnel
                      - language: he
                        translation: שפחה
                      - language: hu
                        translation: Személyzet
                      - language: id
                        translation: Personal
                      - language: it
                        translation: Personale
                      - language: ja
                        translation: 人事
                      - language: ko-KR
                        translation: 인원
                      - language: nb
                      - language: nl-NL
                        translation: Personeel
                      - language: pl
                        translation: Personel
                      - language: pt
                        translation: Pessoal
                      - language: ro
                        translation: Personal
                      - language: ru
                        translation: Персонал
                      - language: sl-SI
                        translation: Osebje
                      - language: sv
                        translation: Personal
                      - language: th
                        translation: บุคลากร
                      - language: tr
                        translation: personel
                      - language: vi
                        translation: Nhân viên
                      - language: zf
                      - language: zh-Hans
                        translation: 人员
                      id: bbb01e29-efb0-4a11-9ab7-63849c58fd48
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Personnel '
                      icon: people
                      color: '#ED75A0'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      id: a41a8c18-b754-4b65-be6c-22c63987c995
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: New Forms
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      created_at: '2023-09-13T09:25:41.084751Z'
                      updated_at: '2023-09-13T09:29:41.773268Z'
                    - is_default: true
                      id: 99e78c6b-2095-4500-9e42-ae97ea0ab63f
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: ddddd
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      created_at: '2023-09-20T11:32:50.554512Z'
                      updated_at: '2023-09-20T11:32:56.254258Z'
                    - is_default: false
                      id: 5d4a8319-8c77-440a-94fe-afa0b09620a1
                      container_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                      container_type: Workspace
                      name: azertyuiop
                      icon: filesAndFolders
                      color: '#01D194'
                      type: Forms
                      created_at: '2023-09-21T09:31:44.02647Z'
                      updated_at: '2023-09-21T09:49:42.995462Z'
                    count: 17
                    total_count: 17
                    limit: 50
                    offset: 0
                Success_with_filter:
                  value:
                    suggestions:
                    - is_default: true
                      names:
                      - language: en
                        translation: Forms
                      - language: ar
                        translation: إستمارات
                      - language: ca
                        translation: Formularis
                      - language: cs
                        translation: formuláře
                      - language: da
                        translation: Forms
                      - language: de-DE
                        translation: Formulare
                      - language: el
                        translation: Φόρμες
                      - language: es
                        translation: Formularios
                      - language: fi
                        translation: Lomakkeet
                      - language: fr
                        translation: Formulaires
                      - language: he
                        translation: טפסים
                      - language: hu
                        translation: Űrlapok
                      - language: id
                        translation: Formulir
                      - language: it
                        translation: Moduli
                      - language: ja
                        translation: 工事帳票
                      - language: ko-KR
                        translation: 양식
                      - language: nb
                      - language: nl-NL
                        translation: Formulieren
                      - language: pl
                        translation: Formularze
                      - language: pt
                        translation: Formulários
                      - language: ro
                        translation: Formulare
                      - language: ru
                        translation: Формы
                      - language: sl-SI
                        translation: Obrazci
                      - language: sv
                        translation: Formulär
                      - language: th
                        translation: แบบฟอร์ม
                      - language: tr
                        translation: Formlar
                      - language: vi
                        translation: Biểu mẫu
                      - language: zf
                      - language: zh-Hans
                        translation: 表单
                      id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Formulaires
                      icon: clipboard
                      color: '#F7CE46'
                      type: Forms
                      created_at: '2023-06-30T15:16:42.168073Z'
                      updated_at: '2024-10-31T15:57:26.726308Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Quality
                      - language: ar
                        translation: جودة
[...]
