openapi: 3.2.0
info:
  title: Finalcad One Organization Management Workspaces API
  version: '2.41'
  summary: 'Organization-level administration of a Finalcad One Enterprise tenant: workspaces, members and roles, observation status / trade / common-observation / priority / form-template libraries, form and observation module types, data referentials, and Power BI dataset configuration.'
  description: 'Organization-level administration of a Finalcad One Enterprise tenant: workspaces, members and roles, observation status / trade / common-observation / priority / form-template libraries, form and observation module types, data referentials, and Power BI dataset configuration.


    DERIVED, NOT PUBLISHED BY THE PROVIDER. Finalcad publishes no OpenAPI. This document was mechanically derived by API Evangelist from the first-party public Postman collection "Finalcad One API" served by Finalcad at https://developer.finalcad.com/ (collection JSON: https://developer.finalcad.com/api/collections/10995648/Tz5v1Es2), saved in this repo at collections/finalcad.postman_collection.json. Every path, method, header, query parameter, example request body and example response below is carried over from that collection; nothing was invented. Request/response bodies are typed as generic objects because the collection carries examples, not schemas. Four Finalcad employees'' personal e-mail addresses that appeared in the collection''s example payloads were replaced with placeholders; nothing else was changed.'
  contact:
    name: Finalcad One API — developer portal
    url: https://developer.finalcad.com/
  x-generated-by: API Evangelist enrichment pipeline (derived from the first-party Postman collection)
  x-source: collections/finalcad.postman_collection.json
  x-source-url: https://developer.finalcad.com/
servers:
- url: https://developer.finalcad.cloud/api
  description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
- url: https://developer.sandbox.finalcad.cloud/api
  description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
security:
- apiKey: []
  tokenAuth: []
tags:
- name: Workspaces
paths:
  /organizations/{organization_id}/workspaces:
    get:
      operationId: workspacesGetWorkspaces
      summary: Get workspaces
      description: "Before creating or updating a project, you might want to have a clear view of your organization's workspaces and have their IDs.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n Endpoint optional query parameters \n Details \n\n parent_id \n filter the workspaces from their parent id \n\n with_children \n if false, to not return the children"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Get_Workspaces:
                  value:
                    workspaces:
                    - workspace_id: 4e7716b4-6c35-413a-9472-fcbb3c70f4c0
                      name: My workspace
                      client_reference: My workspace client reference
                      media_resource:
                        id: 2b4a90c2-4307-4e9a-ad55-c732c7272b2c
                        file_name: 2b4a90c2-4307-4e9a-ad55-c732c7272b2c.png
                        mime_type: image/png
                        created_at: '2022-08-23T07:41:06.493491Z'
                      created_at: '2023-05-03T08:53:02.1887772Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2023-05-03T08:53:02.1888022Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                Success_with_filter:
                  value:
                    workspaces:
                    - workspace_id: c33d36b6-bed9-47b5-b735-7054b716fe5f
                      name: My workspace 1
                      parent_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                      client_reference: d6b64763-e4ec-410b-9776-bd9ccef86478
                      created_at: '2022-06-16T14:15:20.207782Z'
                      created_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                      updated_at: '2024-06-25T08:52:20.094754Z'
                      updated_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                    - workspace_id: 82d745bd-de5f-41e4-8fe4-9b2ae6f954c6
                      name: My workspace 2
                      parent_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                      created_at: '2022-06-16T14:15:25.962777Z'
                      created_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                      updated_at: '2022-06-16T14:15:25.962778Z'
                      updated_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                    - workspace_id: 06edf5eb-1586-4a0d-855f-0cd8fa03a358
                      name: My sub workspace 1
                      parent_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                      client_reference: My sub workspace 1
                      created_at: '2023-05-02T15:18:47.381909Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2023-05-02T15:18:47.381934Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - workspace_id: eed7068c-7119-44a8-9e9f-8f1697b0031e
                      name: My sub workspace 2
                      parent_id: c33d36b6-bed9-47b5-b735-7054b716fe5f
                      created_at: '2022-06-16T14:15:33.32474Z'
                      created_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                      updated_at: '2022-06-16T14:15:33.324741Z'
                      updated_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: workspacesCreateWorkspace
      summary: Create workspace
      description: "You can create workspaces.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n body mandatory parameters \n Details \n\n name \n iname of the workspace \n\n body optional parameters \n Details \n\n client_reference \n workspace reference at a client point of view \n\n parent_id \n id of the parent workpace in the hierarchy"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: new WS test
              client_reference: mon new ws client
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    workspace_id: 4e7716b4-6c35-413a-9472-fcbb3c70f4c0
                    name: My sub workspace 1
                    client_reference: My sub workspace 1
                    media_resource:
                      id: 2b4a90c2-4307-4e9a-ad55-c732c7272b2c
                      file_name: 2b4a90c2-4307-4e9a-ad55-c732c7272b2c.png
                      mime_type: image/png
                      created_at: '2022-08-23T07:41:06.493491Z'
                    created_at: '2023-05-03T08:53:02.1887772Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-05-03T08:53:02.1888022Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}:
    get:
      operationId: workspacesGetWorkspace
      summary: Get workspace
      description: "Before creating or updating a project, you might want to have a clear view of your organisation workspaces and have their iDs.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n workspace_id \n id of the workspace"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    workspace_id: 4e7716b4-6c35-413a-9472-fcbb3c70f4c0
                    name: My workspace 1
                    client_reference: My workspace 1
                    media_resource:
                      id: 2b4a90c2-4307-4e9a-ad55-c732c7272b2c
                      file_name: 2b4a90c2-4307-4e9a-ad55-c732c7272b2c.png
                      mime_type: image/png
                      created_at: '2022-08-23T07:41:06.493491Z'
                    created_at: '2023-05-03T08:53:02.1887772Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-05-03T08:53:02.1888022Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      operationId: workspacesUpdateWorkspace
      summary: Update workspace
      description: "You can update a workspace.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n workspace_id \n id of the workspace \n\n body mandatory parameters \n Details \n\n client_reference \n workspace refernce at a client point of view \n\n name \n name of the workspace"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              client_reference: mon new ws client ------------
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    workspace_id: c33d36b6-bed9-47b5-b735-7054b716fe5f
                    name: My workspace 1
                    parent_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                    client_reference: My updated client ref
                    created_at: '2022-06-16T14:15:20.207782Z'
                    created_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                    updated_at: '2023-05-04T07:49:23.5012666Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/add-member:
    post:
      operationId: workspacesAddMembers
      summary: Add members
      description: "You can add a user to a workspace.\n\n The user can be a Finalcad user or not. In this case, provide only their email to create them.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n workspace_id \n id of the workspace \n\n body mandatory parameters \n Details \n\n sould be one of \n\n user_email \n email of the user if not exsting in the Finalcad datas \n\n user_id \n user_id of a Finalcad user"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              user_email: example@finalcad.com
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/forms:
    get:
      operationId: workspacesFormTemplatesGetWorkspaceFormTemplates
      summary: Get workspace form templates
      description: "Get the list of form templates in a workspace.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n workspace_id \n id of the workspace \n\n Query params optionals \n\n limit \n number max of elements to get \n\n offset \n index of the first returned element"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    form_templates:
                    - id: 0401e23a-5031-419f-9f93-aef05fc572ef
                      names:
                      - language: en
                        translation: Formulaire avec tous les champs
                      form_template_languages:
                      - language: en
                        is_default: true
                      visibility: Available
                    - id: 68cf2910-1044-4e6c-a11b-a4b319f8da98
                      names:
                      - language: en
                        translation: mon_modele
                      form_template_languages:
                      - language: fr
                        is_default: true
                      visibility: Available
                    count: 2
                    total_count: 2
                    limit: 50
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/forms/{form_id}/custom/set:
    post:
      operationId: workspacesFormTemplatesSetWorkspaceFormTemplateCustomReportAssociation
      summary: Set workspace form template custom report association
      description: "Set the association between a form template and a custom report template previously uploaded.\n\n The form template must have been created at this level (i.e., not inherited from an upper hierarchical level).\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n workspace_id \n id of the workspace \n\n form_id \n id the the form template \n\n Body mandatory params \n\n media_id \n id returned by the media upload process"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              media_id: <uuid>
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/members:
    get:
      operationId: workspacesGetMembers
      summary: Get members
      description: "You can get the list of all members of a workspace.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n workspace_id \n id of the workspace \n\n Endpoint optional parameters \n Details \n\n limit \n number max of elemnts to be get \n\n offset \n index of the first elemnt to be get"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    workspace_members:
                    - user_id: dc157afc-84607076-50ba-4e6a-8bf6-18a6676554a3
                      email: person.redacted+d@example.com
                      first_name: ugazf
                      last_name: aozifh
                      is_admin: false
                      is_pending: false
                    - user_id: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                      email: person.redacted+test@example.com
                      first_name: Mathieu
                      last_name: Bourgois
                      is_admin: true
                      is_pending: false
                      media_resource:
                        id: 46579746-ec37-4465-a0ff-5993d1e7d7ab
                        file_name: cat.png
                        mime_type: image/png
                        created_at: '2022-02-28T09:28:41.196255Z'
                    - user_id: 44b76c1c-0466376f-46cd-46bc-8685-261abb613a71
                      email: person.redacted+test2@example.com
                      is_admin: false
                      is_pending: true
                    count: 3
                    total_count: 3
                    limit: 50
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/modules:
    get:
      operationId: workspacesModulesFormModuleTypeGetModules
      summary: Get modules
      description: "Get the list of all existing form modules for a workspace.\n\n Endpoint mandatory info \n Details \n\n organization_id \n The ID of your organization \n\n workspace_id \n id of your workspace \n\n Query params optionals \n\n limit \n number max of rows returned \n\n offset \n number of the first record in the list"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Get_Modules:
                  value:
                    modules:
                    - id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Forms
                      icon: clipboard
                      color: '#F7CE46'
                      type: Forms
                      visibility: Default
                      module_forms:
                      - form_id: 9b2de0df-6504-48db-a923-b71d6553e48b
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 1aa8afc4-3106-446b-a471-55fc413d9867
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 0f5d26f7-523e-4453-b61c-0fd8d59f008a
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - form_id: 40accad9-12c5-46da-aa2c-ad6c59972d81
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 869701f4-9ebb-4640-bffe-a676361350f7
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - form_id: cf9d18bd-d473-400a-909a-e48ea0eb1404
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      module_content:
                      - id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                        name: Categ Form 1
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: 1c1318ff-07c2-4489-94d5-d32b4a1b4eff
                          name: Categ Form 1.1
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                          children:
                          - id: 9b2de0df-6504-48db-a923-b71d6553e48b
                            parent_id: 1c1318ff-07c2-4489-94d5-d32b4a1b4eff
                            content_type: Form
                            container_id: 2421734c-f191-4237-acd8-becf216eaae4
                            container_type: Organization
                        - id: 1aa8afc4-3106-446b-a471-55fc413d9867
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Form
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                        - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Form
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                        - id: 0f5d26f7-523e-4453-b61c-0fd8d59f008a
                          parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                          content_type: Form
                          container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                          container_type: Workspace
                      - id: 593647a7-8647-49ba-9552-739125b12486
                        name: Categ Form 2
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: e7b13254-7bcf-4558-a221-3e15be270c3f
                          name: Categ form 2.1
                          parent_id: 593647a7-8647-49ba-9552-739125b12486
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                        - id: 40accad9-12c5-46da-aa2c-ad6c59972d81
                          parent_id: 593647a7-8647-49ba-9552-739125b12486
                          content_type: Form
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                      - id: 1aa8afc4-3106-446b-a471-55fc413d9867
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 40accad9-12c5-46da-aa2c-ad6c59972d81
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 869701f4-9ebb-4640-bffe-a676361350f7
                        content_type: Form
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - id: cf9d18bd-d473-400a-909a-e48ea0eb1404
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2023-06-30T15:16:42.168073Z'
                      updated_at: '2023-07-14T11:40:48.382866Z'
                    - id: a41a8c18-b754-4b65-be6c-22c63987c995
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: New Forms
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_forms:
                      - form_id: ed7c6fd4-a3d9-4d28-b02f-9a33d8e61e5c
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - form_id: 8f256be7-99e2-43ce-a427-628bddf65d78
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      module_content:
                      - id: 89bea999-7e06-42b0-900b-8d3a2fd0b362
                        name: test cad pour data
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: ed7c6fd4-a3d9-4d28-b02f-9a33d8e61e5c
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 8f256be7-99e2-43ce-a427-628bddf65d78
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2023-09-13T09:25:41.084751Z'
                      updated_at: '2023-09-13T09:29:41.773268Z'
                    - id: 4d9fbb6f-5060-45ae-9b27-cc806c4b1487
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: Essai new module
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      visibility: NotAvailable
                      module_content:
                      - id: 505d5a67-4acc-4a22-98ed-3f715fb0c8ef
                        name: Categorie aaa
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 1cbe1164-ebcd-468a-b05d-69a8f4874e4c
                        name: Categorie bbb
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: efb034ba-24ca-42f2-a7c3-36f666612d99
                        name: Categorie ccc
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2023-09-22T06:54:55.589216Z'
                      updated_at: '2023-09-22T06:54:55.589216Z'
                    - id: 67a8aed1-56f8-437e-91d9-0385c24c9aea
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: api test form answers
                      icon: alertTriangle
                      color: '#C0DF43'
                      type: Forms
                      visibility: Available
                      created_at: '2023-11-30T08:25:00.24386Z'
                      updated_at: '2023-11-30T08:25:15.235666Z'
                    - id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: test create new form ---
                      icon: alert
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_forms:
                      - form_id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      module_content:
                      - id: 37eca3a3-aeaa-4730-9c69-afeb0e49a933
                        name: Aze
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: 9c150a71-be7c-4f0b-8669-507dcfbfa674
                          name: Aze 2.1
                          parent_id: 37eca3a3-aeaa-4730-9c69-afeb0e49a933
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                      - id: f81b8786-935c-4413-af30-faf159c13f2b
                        name: cat 2
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2024-02-15T09:50:14.619561Z'
                      updated_at: '2024-02-16T08:48:08.782081Z'
                    - id: 85e32ecc-955e-4f44-831e-93adca197625
                      container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                      container_type: Workspace
                      name: qsdfgh
                      icon: alert
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_forms:
                      - form_id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      module_content:
                      - id: a734170b-6e57-4758-a507-6961e0166b48
                        name: cat ws
                        content_type: Category
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - id: 09dc3d33-4799-418f-a3f2-766cfb55b715
                        name: cat ws 22
                        content_type: Category
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                        children:
                        - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                          parent_id: 09dc3d33-4799-418f-a3f2-766cfb55b715
                          content_type: Form
                          container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                          container_type: Workspace
                      - id: c5c2809c-061b-4d81-93d9-392df121e315
                        name: ess act 2
                        content_type: Category
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      - id: dd51ccda-0f53-444d-b9f5-45252c37ca37
                        content_type: Form
                        container_id: 4c80463a-d4d7-4c27-8692-fa36cda65130
                        container_type: Workspace
                      created_at: '2024-02-15T13:29:22.180989Z'
                      updated_at: '2024-02-16T09:23:25.638848Z'
                    - id: f5d33e97-6f40-478f-87bf-1fa04a0843ff
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: ngu postman 20230703 1420
                      icon: icon
                      color: '#FFFFFF'
                      type: Forms
                      visibility: Available
                      module_content:
                      - id: 99bb4d5a-51e3-4a65-b5c0-dec520a7a6b9
                        name: Aze 2.1
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                        children:
                        - id: a8bc3515-7e92-4050-be84-64812e982f01
                          name: Aze 2.1
                          parent_id: 99bb4d5a-51e3-4a65-b5c0-dec520a7a6b9
                          content_type: Category
                          container_id: 2421734c-f191-4237-acd8-becf216eaae4
                          container_type: Organization
                      created_at: '2024-03-07T14:17:09.952617Z'
                      updated_at: '2024-03-07T14:17:09.952617Z'
                    - id: 8cf9151c-0a0b-4675-befe-64d868b466ec
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: test create new form Available
                      icon: alert
                      color: '#E94F3D'
                      type: Forms
                      visibility: Available
                      module_forms:
                      - form_id: cf9d18bd-d473-400a-909a-e48ea0eb1404
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      module_content:
                      - id: 7d385066-8686-4357-940d-90524f03be97
                        name: cat 3----1
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: 04bf1a6d-ce26-484f-93f5-d489eb71452b
                        name: cat 3----2
                        content_type: Category
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      - id: cf9d18bd-d473-400a-909a-e48ea0eb1404
                        content_type: Form
                        container_id: 2421734c-f191-4237-acd8-becf216eaae4
                        container_type: Organization
                      created_at: '2024-04-11T14:01:12.937062Z'
                      updated_at: '2024-04-11T14:02:20.7693Z'
                    count: 8
                    total_count: 8
                    limit: 100
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: workspacesModulesFormModuleTypeCreateModule
      summary: Create module
      description: "You can create a custom form module in a specific workspace.\n\n Endpoint mandatory infos \n Details \n\n organization_Id \n the id of the organization to be modified \n\n workspace_id \n id of your workspace \n\n body mandatory infos \n Details \n\n name \n name of the new module \n\n icon \n name of the icon \n(look at finalcad libraries) \n\n color \n rbg value of the color \n(look at finalcad libraries) \n\n visibility \n visibiity of the module in the module suggestion s list in the project creation \nDefault=>checked by default \nAvailable => unchecked by default \nNotAvailable => not in the list"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: azerty in ws
              icon: <string>
              color: <string>
              visibility: Default
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 34b11f09-0879-40a7-9d13-4b95dcc24d5a
                    container_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                    container_type: Workspace
                    name: azerty in ws
                    icon: alert
                    color: '#E94F3D'
                    type: Forms
                    visibility: Default
                    created_at: '2023-09-21T08:54:17.2095497Z'
                    updated_at: '2023-09-21T08:54:17.2095497Z'
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/modules/delete:
    post:
      operationId: workspacesModulesFormModuleTypeDeleteModule
      summary: Delete module
      description: "You can delete a specific module in a specific workspace.\n\n Endpoint mandatory infos \n Details \n\n organization_Id \n the id of the project to be modified \n\n workspace_id \n id of your workspace \n\n body mandatory infos \n Details \n\n module_ids \n ist of modules ids"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              module_ids:
              - <uuid>
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/modules/suggestions:
    get:
      operationId: workspacesModulesGetModuleSuggestions
      summary: Get module suggestions
      description: "Get all the predefined module suggestions for project creation if the project should be created in a workspace.\n\n Endpoint mandatory info \n Details \n\n organization_id \n The ID of your organization \n\n workspace_id \n id of your workspace"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    suggestions:
                    - is_default: true
                      names:
                      - language: en
                        translation: Forms
                      - language: ar
                        translation: إستمارات
                      - language: ca
                        translation: Formularis
                      - language: cs
                        translation: formuláře
                      - language: da
                        translation: Forms
                      - language: de-DE
                        translation: Formulare
                      - language: el
                        translation: Φόρμες
                      - language: es
                        translation: Formularios
                      - language: fi
                        translation: Lomakkeet
                      - language: fr
                        translation: Formulaires
                      - language: he
                        translation: טפסים
                      - language: hu
                        translation: Űrlapok
                      - language: id
                        translation: Formulir
                      - language: it
                        translation: Moduli
                      - language: ja
                        translation: 工事帳票
                      - language: ko-KR
                        translation: 양식
                      - language: nb
                      - language: nl-NL
                        translation: Formulieren
                      - language: pl
                        translation: Formularze
                      - language: pt
                        translation: Formulários
                      - language: ro
                        translation: Formulare
                      - language: ru
                        translation: Формы
                      - language: sl-SI
                        translation: Obrazci
                      - language: sv
                        translation: Formulär
                      - language: th
                        translation: แบบฟอร์ม
                      - language: tr
                        translation: Formlar
                      - language: vi
                        translation: Biểu mẫu
                      - language: zf
                      - language: zh-Hans
                        translation: 表单
                      id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Forms
                      icon: clipboard
                      color: '#F7CE46'
                      type: Forms
                      created_at: '2023-06-30T15:16:42.168073Z'
                      updated_at: '2023-07-14T11:40:48.382866Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Quality
                      - language: ar
                        translation: جودة
                      - language: ca
                        translation: Qualitat
                      - language: cs
                        translation: Kvalitní
                      - language: da
                        translation: Kvalitet
                      - language: de-DE
                        translation: Qualität
                      - language: el
                        translation: Ποιότητα
                      - language: es
                        translation: Calidad
                      - language: fi
                        translation: Laatu
                      - language: fr
                        translation: Qualité
                      - language: he
                        translation: איכות
                      - language: hu
                        translation: Minőség
                      - language: id
                        translation: Kualitas
                      - language: it
                        translation: Qualità
                      - language: ja
                        translation: 品質
                      - language: ko-KR
                        translation: 품질
                      - language: nb
                      - language: nl-NL
                        translation: Kwaliteit
                      - language: pl
                        translation: Jakość
                      - language: pt
                        translation: Qualidade
                      - language: ro
                        translation: Calitate
                      - language: ru
                        translation: Качество
                      - language: sl-SI
                        translation: Kakovost
                      - language: sv
                        translation: Kvalitet
                      - language: th
                        translation: คุณภาพ
                      - language: tr
                        translation: Kalite
                      - language: vi
                        translation: Chất lượng
                      - language: zf
                      - language: zh-Hans
                        translation: 质量
                      id: 125ae973-3e43-4862-9af4-3cb13dcac81c
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Qualité
                      icon: star
                      color: '#01D194'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Environment
                      - language: ar
                        translation: بيئة
                      - language: ca
                        translation: Entorn
                      - language: cs
                        translation: životní prostředí
                      - language: da
                        translation: Miljø
                      - language: de-DE
                        translation: Umgebung
                      - language: el
                        translation: περιβάλλον
                      - language: es
                        translation: Medio ambiente
                      - language: fi
                        translation: ympäristö
                      - language: fr
                        translation: Environnement
                      - language: he
                        translation: סביבה
                      - language: hu
                        translation: Környezet
                      - language: id
                        translation: Lingkungan
                      - language: it
                        translation: Ambiente
                      - language: ja
                        translation: 環境
                      - language: ko-KR
                        translation: 환경
                      - language: nb
                      - language: nl-NL
                        translation: Omgeving
                      - language: pl
                        translation: Środowisko
                      - language: pt
                        translation: Ambiente
                      - language: ro
                        translation: Mediu inconjurator
                      - language: ru
                        translation: Окружающая среда
                      - language: sl-SI
                        translation: Okolje
                      - language: sv
                        translation: Miljö
                      - language: th
                        translation: สิ่งแวดล้อม
                      - language: tr
                        translation: çevre
                      - language: vi
                        translation: Môi trường
                      - language: zf
                      - language: zh-Hans
                        translation: 环境
                      id: 1d0ae170-f499-4649-b17d-d44008220600
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Environnemment
                      icon: environment
                      color: '#7FCE1A'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Site Diary
                      - language: ar
                        translation: يوميات الموقع
                      - language: ca
                        translation: Agenda de l'obra
                      - language: cs
                        translation: Deník webu
                      - language: da
                        translation: Site dagbog
                      - language: de-DE
                        translation: Standort-Tagebuch
                      - language: el
                        translation: Ημερολόγιο τοποθεσίας
                      - language: es
                        translation: Diario del sitio
                      - language: fi
                        translation: Sivuston päiväkirja
                      - language: fr
                        translation: Journal de chantier
                      - language: he
                        translation: יומן האתר
                      - language: hu
                        translation: Helyi napló
                      - language: id
                        translation: Buku harian situs
                      - language: it
                        translation: Diario del sito
                      - language: ja
                        translation: サイトダイアリー
                      - language: ko-KR
                        translation: 현장 일지
                      - language: nb
                      - language: nl-NL
                        translation: Bouwplaats logboek
                      - language: pl
                        translation: Dziennik witryny
                      - language: pt
                        translation: Livro de obra
                      - language: ro
                        translation: Jurnal de site
                      - language: ru
                        translation: Дневник сайта
                      - language: sl-SI
                        translation: Opažanja
                      - language: sv
                        translation: Webbplats dagbok
                      - language: th
                        translation: บันทึกประจำวันไซต์
                      - language: tr
                        translation: Site günlüğü
                      - language: vi
                        translation: Nhật ký công trường
                      - language: zf
                      - language: zh-Hans
                        translation: 工地工程日志
                      id: 391ede05-46a9-4676-99d7-cfe0d07f8a75
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Journal de chantier
                      icon: bookOpen
                      color: '#4CABF2'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Safety
                      - language: ar
                        translation: سلامة
                      - language: ca
                        translation: Seguretat
                      - language: cs
                        translation: Bezpečnost
                      - language: da
                        translation: Sikkerhed
                      - language: de-DE
                        translation: Sicherheit
                      - language: el
                        translation: Ασφάλεια
                      - language: es
                        translation: Seguridad
                      - language: fi
                        translation: Turvallisuus
                      - language: fr
                        translation: Sécurité
                      - language: he
                        translation: בטיחות
                      - language: hu
                        translation: Biztonság
                      - language: id
                        translation: Keamanan
                      - language: it
                        translation: Sicurezza
                      - language: ja
                        translation: 安全性
                      - language: ko-KR
                        translation: 안전
                      - language: nb
                      - language: nl-NL
                        translation: Veiligheid
                      - language: pl
                        translation: Bezpieczeństwo
                      - language: pt
                        translation: Segurança
                      - language: ro
                        translation: Siguranță
                      - language: ru
                        translation: Безопасность
                      - language: sl-SI
                        translation: Varnost
                      - language: sv
                        translation: Säkerhet
                      - language: th
                        translation: ความปลอดภัย
                      - language: tr
                        translation: Emniyet
                      - language: vi
                        translation: An toàn
                      - language: zf
                      - language: zh-Hans
                        translation: 安全
                      id: 3fd4f4af-089b-4e06-a924-32ee4f600f02
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Sécurité
                      icon: helmet
                      color: '#FF8029'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: true
                      names:
                      - language: en
                        translation: Observations
                      - language: ar
                        translation: ملاحظات
                      - language: ca
                        translation: Observacions
                      - language: cs
                        translation: Pozorování
                      - language: da
                        translation: Bemærkninger
                      - language: de-DE
                        translation: Beobachtungen
                      - language: el
                        translation: Παρατηρήσεις
                      - language: es
                        translation: Observaciones
                      - language: fi
                        translation: Havaintoja
                      - language: fr
                        translation: Observations
                      - language: he
                        translation: תצפיות
                      - language: hu
                        translation: Észrevételek
                      - language: id
                        translation: Pengamatan
                      - language: it
                        translation: Osservazioni
                      - language: ja
                        translation: 指摘事項
                      - language: ko-KR
                        translation: 관찰 사항
                      - language: nb
                      - language: nl-NL
                        translation: Opmerkingen
                      - language: pl
                        translation: Obserwacje
                      - language: pt
                        translation: Observações
                      - language: ro
                        translation: Observatii
                      - language: ru
                        translation: наблюдения
                      - language: sl-SI
                        translation: Opažanja
                      - language: sv
                        translation: observationer
                      - language: th
                        translation: ข้อสังเกต
                      - language: tr
                        translation: gözlemler
                      - language: vi
                        translation: Những theo dõi
                      - language: zf
                      - language: zh-Hans
                        translation: 观察报告
                      id: 44d459d4-fa20-4484-b4bf-fd520c459566
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Observations
                      icon: alert
                      color: '#E94F3D'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Estimation
                      - language: ar
                        translation: تقدير
                      - language: ca
                        translation: Estimació
                      - language: cs
                        translation: Odhad
                      - language: da
                        translation: Skøn
                      - language: de-DE
                        translation: Einschätzung
                      - language: el
                        translation: Εκτίμηση
                      - language: es
                        translation: Estimación
                      - language: fi
                        translation: Arvio
                      - language: fr
                        translation: Estimation
                      - language: he
                        translation: אוּמדָן
                      - language: hu
                        translation: Becslés
                      - language: id
                        translation: Perkiraan
                      - language: it
                        translation: Stima
                      - language: ja
                        translation: 推定
                      - language: ko-KR
                        translation: 견적
                      - language: nb
                      - language: nl-NL
                        translation: Schätzung
                      - language: pl
                        translation: Oszacowanie
                      - language: pt
                        translation: Estimativa
                      - language: ro
                        translation: Estimare
                      - language: ru
                        translation: Предварительный расчет
                      - language: sl-SI
                        translation: Ocena
                      - language: sv
                        translation: Uppskattning
                      - language: th
                        translation: การประมาณ
                      - language: tr
                        translation: Tahmin
                      - language: vi
                        translation: Dự báo
                      - language: zf
                      - language: zh-Hans
                        translation: 估算
                      id: 478eb22c-30ee-4691-b27e-f2539f644794
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Chiffrage '
                      icon: euro
                      color: '#7783FF'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Materials
                      - language: ar
                        translation: المواد
                      - language: ca
                        translation: Materials
                      - language: cs
                        translation: Materiály
                      - language: da
                        translation: Materialer
                      - language: de-DE
                        translation: Materialien
                      - language: el
                        translation: Υλικά
                      - language: es
                        translation: Materiales
                      - language: fi
                        translation: tarvikkeet
                      - language: fr
                        translation: Matériaux
                      - language: he
                        translation: חומרים
                      - language: hu
                        translation: anyagok
                      - language: id
                        translation: Bahan
                      - language: it
                        translation: Materiali
                      - language: ja
                        translation: 素材
                      - language: ko-KR
                        translation: 기재
                      - language: nb
                      - language: nl-NL
                        translation: Materialen
                      - language: pl
                        translation: Materiały
                      - language: pt
                        translation: Materiais
                      - language: ro
                        translation: Materiale
                      - language: ru
                        translation: материалы
                      - language: sl-SI
                        translation: Obrazci
                      - language: sv
                        translation: Material
                      - language: th
                        translation: วัสดุ
                      - language: tr
                        translation: Malzemeler
                      - language: vi
                        translation: Vật liệu
                      - language: zf
                      - language: zh-Hans
                        translation: 材料
                      id: 70df7ea5-7ef6-4b71-9b52-848ec968a680
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Matériaux
                      icon: bricks
                      color: '#FF8029'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Tasks
                      - language: ar
                        translation: المهام
                      - language: ca
                        translation: Tasques
                      - language: cs
                        translation: Úkoly
                      - language: da
                        translation: Opgaver
                      - language: de-DE
                        translation: Tasks
                      - language: el
                        translation: Καθήκοντα
                      - language: es
                        translation: Tareas
                      - language: fi
                        translation: Tehtävät
                      - language: fr
                        translation: Tâches
                      - language: he
                        translation: משימות
                      - language: hu
                        translation: Feladatok
                      - language: id
                        translation: Rapat
                      - language: it
                        translation: Riunioni
                      - language: ja
                        translation: ミーティング
                      - language: ko-KR
                        translation: 회의
                      - language: nb
                      - language: nl-NL
                        translation: Vergaderingen
                      - language: pl
                        translation: Spotkania
                      - language: pt
                        translation: Encontros
                      - language: ro
                        translation: Întâlniri
                      - language: ru
                        translation: Встречи
                      - language: sl-SI
                        translation: Srečanja
                      - language: sv
                        translation: Möten
                      - language: th
                        translation: การประชุม
                      - language: tr
                        translation: Toplantılar
                      - language: vi
                        translation: Cuộc họp
                      - language: zf
                      - language: zh-Hans
                        translation: 会议
                      id: 7fe77495-2ae5-4345-b647-f455be6a19d4
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Tâches
                      icon: checkCircle
                      color: '#3B7CDE'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Hygiene
                      - language: ar
                        translation: صحة
                      - language: ca
                        translation: Higiene
                      - language: cs
                        translation: Hygiena
                      - language: da
                        translation: Hygiejne
                      - language: de-DE
                        translation: Hygiene
                      - language: el
                        translation: Υγιεινή
                      - language: es
                        translation: Higiene
                      - language: fi
                        translation: Hygienia
                      - language: fr
                        translation: Hygiène
                      - language: he
                        translation: בריאות
                      - language: hu
                        translation: Higiénia
                      - language: id
                        translation: Kebersihan
                      - language: it
                        translation: Igiene
                      - language: ja
                        translation: 衛生
                      - language: ko-KR
                        translation: 위생
                      - language: nb
                      - language: nl-NL
                        translation: Hygiëne
                      - language: pl
                        translation: Higiena
                      - language: pt
                        translation: Higiene
                      - language: ro
                        translation: Igienă
                      - language: ru
                        translation: Гигиена
                      - language: sl-SI
                        translation: Higiena
                      - language: sv
                        translation: Hygien
                      - language: th
                        translation: สุขอนามัย
                      - language: tr
                        translation: Hijyen
                      - language: vi
                        translation: Vệ sinh
                      - language: zf
                      - language: zh-Hans
                        translation: 卫生
                      id: eab12a4a-7b44-46c1-abbb-9a6624369335
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Hygiène
                      icon: clean
                      color: '#92D8FF'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Extra Work
                      - language: ar
                        translation: عمل اضافي
                      - language: ca
                        translation: Treball extra
                      - language: cs
                        translation: Práce navíc
                      - language: da
                        translation: Ekstra arbejde
                      - language: de-DE
                        translation: Extra Arbeit
                      - language: el
                        translation: Επιπλέον δουλειά
                      - language: es
                        translation: Trabajo extra
                      - language: fi
                        translation: Lisätyö
                      - language: fr
                        translation: Extra Work
                      - language: he
                        translation: עבודה נוספת
                      - language: hu
                        translation: Extra munka
                      - language: id
                        translation: Pekerjaan Tambahan
                      - language: it
                        translation: Lavoro aggiuntivo
                      - language: ja
                        translation: エクストラ・ワーク
                      - language: ko-KR
                        translation: 추가 업무
                      - language: nb
                      - language: nl-NL
                        translation: Extra werk
                      - language: pl
                        translation: Dodatkowa praca
                      - language: pt
                        translation: Trabalho extra
                      - language: ro
                        translation: Muncă în plus
                      - language: ru
                        translation: Дополнительная работа
                      - language: sl-SI
                        translation: Dodatno delo
                      - language: sv
                        translation: Extraarbete
                      - language: th
                        translation: งานเพิ่มเติม
                      - language: tr
                        translation: ekstra iş
                      - language: vi
                        translation: Công việc thêm
                      - language: zf
                      - language: zh-Hans
                        translation: 额外工作
                      id: be73ba88-1584-4d87-98a2-fee38da1b467
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: Travaux supplémentaires
                      icon: brush
                      color: '#FFC267'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: true
                      names:
                      - language: en
                        translation: Meetings
                      - language: ar
                        translation: الاجتماعات
                      - language: ca
                        translation: Reunions
                      - language: cs
                        translation: Setkání
                      - language: da
                        translation: Møder
                      - language: de-DE
                        translation: Meetings
                      - language: el
                        translation: Συναντήσεις
                      - language: es
                        translation: Reunións
                      - language: fi
                        translation: Kokoukset
                      - language: fr
                        translation: Réunions
                      - language: he
                        translation: פגישות
                      - language: hu
                        translation: Találkozók
                      - language: id
                        translation: Rapat
                      - language: it
                        translation: Riunioni
                      - language: ja
                        translation: ミーティング
                      - language: ko-KR
                        translation: 회의
                      - language: nb
                      - language: nl-NL
                        translation: Vergaderingen
                      - language: pl
                        translation: Spotkania
                      - language: pt
                        translation: Encontros
                      - language: ro
                        translation: Întâlniri
                      - language: ru
                        translation: Встречи
                      - language: sl-SI
                        translation: Srečanja
                      - language: sv
                        translation: Möten
                      - language: th
                        translation: การประชุม
                      - language: tr
                        translation: Toplantılar
                      - language: vi
                        translation: Cuộc họp
                      - language: zf
                      - language: zh-Hans
                        translation: 会议
                      id: dfb800a2-cfa7-444c-ae30-5369f8535e17
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Réunions '
                      icon: meetings
                      color: '#4CABF2'
                      type: Meetings
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Equipment
                      - language: ar
                        translation: ادوات
                      - language: ca
                        translation: Equipament
                      - language: cs
                        translation: Zařízení
                      - language: da
                        translation: Udstyr
                      - language: de-DE
                        translation: Ausrüstung
                      - language: el
                        translation: Εξοπλισμός
                      - language: es
                        translation: Equipo
                      - language: fi
                        translation: Laitteet
                      - language: fr
                        translation: Matériel
                      - language: he
                        translation: צִיוּד
                      - language: hu
                        translation: Felszerelés
                      - language: id
                        translation: Kerja tambahan
                      - language: it
                        translation: Lavoro extra
                      - language: ja
                        translation: エクストラ・ワーク
                      - language: ko-KR
                        translation: 추가 업무
                      - language: nb
                      - language: nl-NL
                        translation: Extra werk
                      - language: pl
                        translation: Sprzęt
                      - language: pt
                        translation: Equipamento
                      - language: ro
                        translation: echipament
                      - language: ru
                        translation: Оборудование
                      - language: sl-SI
                        translation: Oprema
                      - language: sv
                        translation: Utrustning
                      - language: th
                        translation: อุปกรณ์
                      - language: tr
                        translation: ekipman
                      - language: vi
                        translation: Thiết bị
                      - language: zf
                      - language: zh-Hans
                        translation: 设备
                      id: e53cc00d-4980-409e-9a52-40706fd77b5f
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Equipement '
                      icon: hammer
                      color: '#01D194'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      names:
                      - language: en
                        translation: Personnel
                      - language: ar
                        translation: شؤون الموظفين
                      - language: ca
                        translation: Personal
                      - language: cs
                        translation: Personál
                      - language: da
                        translation: Personale
                      - language: de-DE
                        translation: Personal
                      - language: el
                        translation: Προσωπικό
                      - language: es
                        translation: Personal
                      - language: fi
                        translation: Henkilöstö
                      - language: fr
                        translation: Personnel
                      - language: he
                        translation: שפחה
                      - language: hu
                        translation: Személyzet
                      - language: id
                        translation: Personal
                      - language: it
                        translation: Personale
                      - language: ja
                        translation: 人事
                      - language: ko-KR
                        translation: 인원
                      - language: nb
                      - language: nl-NL
                        translation: Personeel
                      - language: pl
                        translation: Personel
                      - language: pt
                        translation: Pessoal
                      - language: ro
                        translation: Personal
                      - language: ru
                        translation: Персонал
                      - language: sl-SI
                        translation: Osebje
                      - language: sv
                        translation: Personal
                      - language: th
                        translation: บุคลากร
                      - language: tr
                        translation: personel
                      - language: vi
                        translation: Nhân viên
                      - language: zf
                      - language: zh-Hans
                        translation: 人员
                      id: bbb01e29-efb0-4a11-9ab7-63849c58fd48
                      container_id: e8688ddb-3aa5-4a68-90f7-a6c414b7d323
                      container_type: Finalcad
                      name: 'Personnel '
                      icon: people
                      color: '#ED75A0'
                      type: Observations
                      created_at: '2023-07-11T07:31:23.626854Z'
                      updated_at: '2023-07-11T07:31:23.626854Z'
                    - is_default: false
                      id: a41a8c18-b754-4b65-be6c-22c63987c995
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: PinForms
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      created_at: '2023-09-13T09:25:41.084751Z'
                      updated_at: '2023-09-13T09:29:41.773268Z'
                    - is_default: true
                      id: 99e78c6b-2095-4500-9e42-ae97ea0ab63f
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      container_type: Organization
                      name: PinForms2
                      icon: typePin
                      color: '#E94F3D'
                      type: Forms
                      created_at: '2023-09-20T11:32:50.554512Z'
                      updated_at: '2023-09-20T11:32:56.254258Z'
                    - is_default: false
                      id: 5d4a8319-8c77-440a-94fe-afa0b09620a1
                      container_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                      container_type: Workspace
                      name: DocumentForms
                      icon: filesAndFolders
                      color: '#01D194'
                      type: Forms
                      created_at: '2023-09-21T09:31:44.02647Z'
                      updated_at: '2023-09-21T09:49:42.995462Z'
                    count: 17
                    total_count: 17
                    limit: 50
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/modules/{module_id}:
    put:
      operationId: workspacesModulesFormModuleTypeUpdateModule
      summary: Update module
      description: "You can modify a specific form module in a specific workspace.\n\n Endpoint mandatory infos \n Details \n\n organization_Id \n the id of the organization to be modified \n\n workspace_id \n id of your workspace \n\n module_id \n id of the module to be modified \n\n body options infos \n Details \n\n name \n name of the new module \n\n icon \n name of the icon \n(look at finalcad libraries) \n\n color \n rbg value of the color \n(look at finalcad libraries) \n\n visibility \n visibiity of the module in the module suggestion s list in project creation \nDefault=>checked by default \nAvailable => unchecked by default \nNotAvailable => not in the list"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      - name: module_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `module_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: qsdfgh
              visibility: Available
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 34b11f09-0879-40a7-9d13-4b95dcc24d5a
                    container_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                    container_type: Workspace
                    name: qsdfgh
                    icon: alert
                    color: '#E94F3D'
                    type: Forms
                    visibility: Available
                    created_at: '2023-09-21T08:54:17.209549Z'
                    updated_at: '2023-09-21T09:09:39.2748765Z'
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/modules/{module_id}/categories:
    post:
      operationId: workspacesModulesFormModuleTypeCreateCategory
      summary: Create category
      description: "You can create a new category in your module in your workspace.\n\n Endpoint mandatory info \n Details \n\n organization_id \n The ID of your organization \n\n workspace_id \n id of your workspace \n\n module_id \n id of your module \n\n Body params mandatory \n\n name \n name of the category \n\n Body params optionals \n\n parent_id \n parent category id if any"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      - name: module_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `module_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: cat 3.1
              parent_id: '{{category_id}}'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/workspaces/{workspace_id}/modules/{module_id}/categories/{category_id}:
    put:
      operationId: workspacesModulesFormModuleTypeUpdateCategory
      summary: Update category
      description: "You can rename a category in your module in your workspace.\n\n Endpoint mandatory info \n Details \n\n organization_id \n The ID of your organization \n\n workspace_id \n id of your workspace \n\n module_id \n id of your module \n\n category_id \n id of the category \n\n Body params mandatory \n\n name \n new name of the category"
      tags:
      - Workspaces
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `workspace_id` as published in the collection.
      - name: module_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `module_id` as published in the collection.
      - name: category_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `category_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: cat 3-1
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: workspacesModulesFormModuleTypeDeleteCategory
      summary: Delete category
[...]
