openapi: 3.2.0
info:
  title: Finalcad One Organization Management Datasets API
  version: '2.41'
  summary: 'Organization-level administration of a Finalcad One Enterprise tenant: workspaces, members and roles, observation status / trade / common-observation / priority / form-template libraries, form and observation module types, data referentials, and Power BI dataset configuration.'
  description: 'Organization-level administration of a Finalcad One Enterprise tenant: workspaces, members and roles, observation status / trade / common-observation / priority / form-template libraries, form and observation module types, data referentials, and Power BI dataset configuration.


    DERIVED, NOT PUBLISHED BY THE PROVIDER. Finalcad publishes no OpenAPI. This document was mechanically derived by API Evangelist from the first-party public Postman collection "Finalcad One API" served by Finalcad at https://developer.finalcad.com/ (collection JSON: https://developer.finalcad.com/api/collections/10995648/Tz5v1Es2), saved in this repo at collections/finalcad.postman_collection.json. Every path, method, header, query parameter, example request body and example response below is carried over from that collection; nothing was invented. Request/response bodies are typed as generic objects because the collection carries examples, not schemas. Four Finalcad employees'' personal e-mail addresses that appeared in the collection''s example payloads were replaced with placeholders; nothing else was changed.'
  contact:
    name: Finalcad One API — developer portal
    url: https://developer.finalcad.com/
  x-generated-by: API Evangelist enrichment pipeline (derived from the first-party Postman collection)
  x-source: collections/finalcad.postman_collection.json
  x-source-url: https://developer.finalcad.com/
servers:
- url: https://developer.finalcad.cloud/api
  description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
- url: https://developer.sandbox.finalcad.cloud/api
  description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
security:
- apiKey: []
  tokenAuth: []
tags:
- name: Datasets
paths:
  /organizations/{organization_id}/data/config:
    get:
      operationId: datasetsGetDatasets
      summary: Get datasets
      description: "Get the list of datasets for the organization.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    data_sets:
                    - name: Observations
                      is_active: true
                    - name: Statuses
                      is_active: true
                    - name: CommonObservations
                      is_active: true
                    - name: FormInstances
                      is_active: true
                    - name: FormTemplates
                      is_active: true
                    - name: Plans
                      is_active: true
                    - name: Companies
                      is_active: true
                    - name: Phases
                      is_active: true
                    - name: Modules
                      is_active: true
                    - name: Users
                      is_active: true
                    - name: Projects
                      is_active: true
                    - name: Workspaces
                      is_active: true
                    - name: Documents
                      is_active: true
                    - name: FormAnswers
                      is_active: true
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: datasetsPostDatasets
      summary: Post datasets
      description: "Set the list of active datasets.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n body mandatory \n\n data_sets \n list of the active datasets \nall missing dataset are invalidated \n\n Dataset list :\nCommonObservations, Companies, FormInstances, FormTemplates, Modules, Observations, Phases, Plans, Statuses, Projects, Workspaces, Documents, Users, FormAnswers, UserActivities, Priorities, ProjectsUsersRoles"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              data_sets:
              - CommonObservations
              - Companies
              - FormInstances
              - FormTemplates
              - Modules
              - Observations
              - Phases
              - Plans
              - Statuses
              - Projects
              - Workspaces
              - Documents
              - Users
              - FormAnswers
              - UserActivities
              - Priorities
              - ProjectsUsersRoles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    data_sets:
                    - name: Observations
                      is_active: true
                      url: https://tf-business-organization......Amz....a886e
                    - name: Forms
                      is_active: true
                    - name: Plans
                      is_active: false
                    - name: Documents
                      is_active: false
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/data/config/dataset:
    get:
      operationId: datasetsGetDatasetContent
      summary: Get dataset content
      description: "Get the content for an active dataset (limited to 10MB).\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n name \n name of the dataset"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/data/config/dataseturl:
    get:
      operationId: datasetsGetDatasetUrl
      summary: Get dataset URL
      description: "Get a downloadable URL for an active dataset.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n name \n name of the dataset"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    url: https://medias....LSEQ
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      description: Finalcad One error envelope. `api_code` is either a static code (mostly 4xx, e.g. INVALID_INSTANCE_STATE) or a constructed code of the form {ProcessCode}_ERR{n} / {ProcessCode}_WRN{n} (mostly 5xx).
      properties:
        statut:
          type: integer
          description: HTTP status code, repeated in the body (spelled `statut`).
        api_code:
          type: string
          description: Internal Finalcad API error code.
        message:
          type: string
          description: Short explanation of the abnormality encountered.
        data:
          type: object
          description: Complementary data to help understand the error.
          additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key issued by Finalcad to organizations on an Enterprise licence. Sent on every call.
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: '`Authorization: token <your_api_key>`, or `Authorization: bearer <user_token>` for the legacy user-token flow (POST /auth).'
