openapi: 3.1.0
info:
  title: Finalcad One Project API
  version: '2.41'
  summary: 'Project-level operations for Finalcad One construction projects: project details, project libraries, members,
    locations (folders / plans / IFC), discussion groups, companies, modules (observations / forms / meetings), observations,
    forms and form answers, documents, phases, meetings and XLSX/PDF exports.'
  description: 'Project-level operations for Finalcad One construction projects: project details, project libraries, members,
    locations (folders / plans / IFC), discussion groups, companies, modules (observations / forms / meetings), observations,
    forms and form answers, documents, phases, meetings and XLSX/PDF exports.


    DERIVED, NOT PUBLISHED BY THE PROVIDER. Finalcad publishes no OpenAPI. This document was mechanically derived by API Evangelist
    from the first-party public Postman collection "Finalcad One API" served by Finalcad at https://developer.finalcad.com/
    (collection JSON: https://developer.finalcad.com/api/collections/10995648/Tz5v1Es2), saved in this repo at collections/finalcad.postman_collection.json.
    Every path, method, header, query parameter, example request body and example response below is carried over from that
    collection; nothing was invented. Request/response bodies are typed as generic objects because the collection carries
    examples, not schemas. Four Finalcad employees'' personal e-mail addresses that appeared in the collection''s example
    payloads were replaced with placeholders; nothing else was changed.'
  contact:
    name: Finalcad One API — developer portal
    url: https://developer.finalcad.com/
  x-generated-by: API Evangelist enrichment pipeline (derived from the first-party Postman collection)
  x-source: collections/finalcad.postman_collection.json
  x-source-url: https://developer.finalcad.com/
servers:
- url: https://developer.finalcad.cloud/api
  description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
- url: https://developer.sandbox.finalcad.cloud/api
  description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
security:
- apiKey: []
  tokenAuth: []
tags:
- name: Companies
- name: Discussion groups
- name: Documents
- name: Exports
- name: Forms
- name: Locations
- name: Medias handeling
- name: Meetings
- name: Modules
- name: Observations
- name: Phases
- name: Project  details
- name: Project libraries
- name: Project members management
paths:
  /medias/{media_id}:
    get:
      operationId: mediasHandelingGetMediaResource
      summary: Get media resource
      description: "OBSOLETE – Please use the media endpoints at the application level. \n\n Given a media_resource_id , you\
        \ can retrieve the associated media content.\n\n ⚠️ Warnings \n\n This endpoint does not support retrieval of 3D media.\n\
        \n The media_resource_id refers to the ID returned by an endpoint that links a media to another resource (e.g., the\
        \ endpoint used to create a plan). It is not the same as the media_id used in media upload endpoints.\n\n Endpoint\
        \ mandatory infos \n Details \n\n media_resource_id \n the id of the media to be downloaded"
      tags:
      - Medias handeling
      parameters:
      - name: media_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `media_id` as published in the collection.
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/projects:
    post:
      operationId: projectDetailsCreateANewProject
      summary: Create a new project
      description: "Creating a project from scratch can be as easy as 1, 2, 3.\n\n You need to specify your project name.\
        \ To ensure that your project is correctly localized, language and time zone are mandatory.\n\n But you can go further:\n\
        \n bodymandatory informations \n Details \n\n name \n Your best wording to describe your project. It will be displayed\
        \ everywhere \n\n body optional information \n Details \n\n description \n Text field that should contain less than\
        \ 255 characters \n\n workspace_id \n The workspace in which you want to create the project \n\n case_number \n Project\
        \ reference aligned with your internal classification \n\n address \n Where your project is located \n\n end_date\
        \ \n Your targeted project end date \n\n language \n If not set it will be French. \n\n time_zone \n See Get list\
        \ of time zones \n\n module_ids \n An array of modules ids to be added \nsee Get modules suggestions at organization\
        \ or workspace level depending of your usage \n\n Langage help: \nCatalan = \"ca\"\nChinese = \"zh-Hans\"\nEnglish\
        \ = \"en\"\nFrench = \"fr\"\nGerman = \"de-DE\"\nItalian = \"it\"\nJapanese = \"ja\"\nNetherland = \"nl-NL\"\nPortuguese\
        \ = \"pt\"\nSpanish = \"es\"\nThai = \"th\"\nVietnamese = \"vi\""
      tags:
      - Project  details
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: <string>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    time_zone: Europe/Paris
                    language: fr
                    project_id: 267ae234-3f8f398a-76d4-4c0b-bd30-d76a3abcaf0e
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    name: My project
                    end_date: '0001-01-01T00:00:00Z'
                    member_count: 0
                    is_archived: false
                    created_at: '2022-11-30T08:49:32.697933Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2022-11-30T08:49:32.697933Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      operationId: projectDetailsGetProjectsListFiltered
      summary: Get projects list filtered
      description: Before creating or updating a project, you might want to have a clear view of your organization's projects
        and have their IDs.
      tags:
      - Project  details
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    projects:
                    - project_id: 4ab2db74-0b8a78ac-184f-4114-9175-0ef6e41d6544
                      organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: My project 1
                      workspace_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                      member_count: 2
                      is_archived: false
                      current_user_in_project: true
                      is_active: true
                      status: InProgress
                      created_at: '2025-01-30T13:33:20.209284Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2025-05-16T12:40:19.617275Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - project_id: 3dd5a3cf-432d6d05-7448-437b-b29f-f51b1f0f0eb1
                      organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: My project 2
                      workspace_id: 8eebf534-35d6-4b2e-be4d-06d5428d896e
                      member_count: 1
                      is_archived: false
                      current_user_in_project: true
                      is_active: true
                      status: InProgress
                      created_at: '2025-04-09T08:19:03.243153Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2025-04-09T08:19:03.243153Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    count: 2
                    total_count: 2
                    limit: 50
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{projectId}:
    put:
      operationId: projectDetailsUpdateProject
      summary: Update project
      description: "Update your project details.\n\n Endpoint mandatory infos \n Details \n\n projectId \n the id of the project\
        \ to be modified \n\n Body optional informations \n Details \n\n name \n Your best wording to describe your project.\
        \ It will be displayed everywhere \n\n description \n Text field that should contain less than 255 characters \n\n\
        \ case_number \n Project reference aligned with your internal classification \n\n address \n Where your project is\
        \ located \n\n end_date \n Your targeted project end date \n\n language \n If not set it will be French. \n\n time_zone\
        \ \n See Get list of time zones \n\n media_id \n id of the media to use as project photo \n\n status \n status of\
        \ the project \nshould be \"Done\" or \"InProgress\""
      tags:
      - Project  details
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `projectId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: <string>
              media_id: <uuid>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Sucess:
                  value:
                    address: addresse à Lyon
                    time_zone: Europe/Paris
                    language: fr
                    project_id: 267ae234-3f8f398a-76d4-4c0b-bd30-d76a3abcaf0e
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    name: new project luc 4
                    description: description du projet
                    end_date: '0001-01-01T00:00:00Z'
                    member_count: 0
                    is_archived: false
                    media_resource:
                      id: 2d42ccdf-a5ad-49fb-9c34-c78d4335ddf1
                      file_name: lang2.png
                      mime_type: image/png
                    created_at: '2022-11-30T08:49:32.697933Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2022-11-30T12:50:35.684911Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                Update_status:
                  value:
                    time_zone: Done
                    language: fr
                    project_id: 79855f61-e3b0db37-a094-46d8-ad79-e22c9d55a5b6
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    name: new project luc 6
                    end_date: '0001-01-01T00:00:00Z'
                    member_count: 0
                    is_archived: false
                    current_user_in_project: false
                    is_active: true
                    status: Done
                    created_at: '2022-12-14T10:43:46.603688Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-04-18T09:08:19.255826Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{projectId}/folders/{folderId}:
    put:
      operationId: locationsUpdateFolder
      summary: Update folder
      description: "You can move (change the parent) or rename a folder.\n\n Details \n\n project_Id \n the id of the project\
        \ to be modified \n\n body optional infos \n Details \n\n name \n new name of the folder \n\n parent_id \n id of the\
        \ new parent of the folder"
      tags:
      - Locations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `projectId` as published in the collection.
      - name: folderId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `folderId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: <string>
              parent_id: <uuid>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: b257d7d2-f310-455e-82d9-9f82ce51fcc3
                    name: driver
                    parent_id: 78c445fe-ec0d-4d2b-bbd5-7c3727f86b34
                    enabled: true
                    created_at: '2022-11-29T15:12:56.340687Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2022-11-29T15:13:07.0828953Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: locationsDeleteFolder
      summary: Delete folder
      description: "You can delete a folder.\n\n Endpoint mandatory infos \n Details \n\n project_Id \n the id of the project\
        \ to be modified \n\n folder_id \n the id of the folder"
      tags:
      - Locations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `projectId` as published in the collection.
      - name: folderId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `folderId` as published in the collection.
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{projectId}/observations/{observationId}:
    put:
      operationId: observationsUpdateObservation
      summary: Update observation
      description: "You can now also modify observations in a project using just a few parameters.\n\n Details \n\n projectId\
        \ \n The ID of the project where the the observation will be created \n\n observationId \n The ID the the observation\
        \ \n\n Body mandatory infos \n \n Details \n\n description \n Your best wording to describe the observation \n\n Body\
        \ optional infos \n \n Details \n\n trade_id \n The ID of the category used in the observation \n\n common_observation_id\
        \ \n The ID of the model used in the new observation \n\n priority_id \n The ID of the priority of the new observation\
        \ \n\n status_id \n The ID of the status of the new observation. \n\n assignee_id \n The ID of the user that will\
        \ have the new observation assigned \n\n phase_id \n The ID of the phase that is set for the new observation. \n\n\
        \ company_id \n The ID of the company that will be assigned to the new observation \n\n plan_id \n The ID of the plan\
        \ used for the observation \n\n position_x \n X coordinate of the item regarding the affected 2D plan \n\n position_y\
        \ \n Y coordinate of the item regarding the affected 2D plan \n\n due_date \n The due date of the observation, set\
        \ as a date format \n\n module_id \n The ID of the module \n\n Please note that\n\n If an optional body field is not\
        \ informed, the current value in the observation is preserved\n\n the trade_id sould be consistent with the module\n\
        \n The combinations for description , trade_id and common_observation_id sould be consistent with the creation parameters"
      tags:
      - Observations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `projectId` as published in the collection.
      - name: observationId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `observationId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              common_observation_id: '{{common_observation_id}}'
              trade_id: '{{trade_id}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success_rename:
                  value:
                    id: 86ce1c54-94b8-485a-9d36-f072134cb9fc
                    project_id: 2636691c-683681a0-1e49-499a-add7-0acb1ece9647
                    description: Reprise
                    status_id: fce5dcbe-4f82-418c-82ac-78ac1c8d1576
                    priority_id: af91ddff-bf7e-4b14-81e1-0b5cf999cc7d
                    client_created_at: '2023-06-29T08:10:15.009811Z'
                    module_id: d5a2fcee-6a52-45eb-841d-fd6396bf6eef
                    created_at: '2023-06-29T08:10:16.987837Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-06-29T08:14:03.502218Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                Success_rename_and_assign:
                  value:
                    id: 86ce1c54-94b8-485a-9d36-f072134cb9fc
                    project_id: 2636691c-683681a0-1e49-499a-add7-0acb1ece9647
                    description: Reprise
                    status_id: fce5dcbe-4f82-418c-82ac-78ac1c8d1576
                    priority_id: af91ddff-bf7e-4b14-81e1-0b5cf999cc7d
                    assignee_id: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    client_created_at: '2023-06-29T08:10:15.009811Z'
                    module_id: d5a2fcee-6a52-45eb-841d-fd6396bf6eef
                    created_at: '2023-06-29T08:10:16.987837Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-06-29T08:17:28.078882Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{projectId}/observations/{observationId}/attach-media:
    post:
      operationId: observationsAddImageObservation
      summary: Add image observation
      description: "You can now update an observation by adding an image with a media resource.\n\n Details \n\n projectId\
        \ \n The ID of the project \n\n observationId \n the ID of the observation \n\n Body mandatory infos \n \n Details\
        \ \n\n media_id \n the ID of the media \ncan be obtained using Medias handeling endpoints."
      tags:
      - Observations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `projectId` as published in the collection.
      - name: observationId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `observationId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              media_id: <uuid>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 3a308254-a767-45b2-b949-b19496f0d064
                    position: 8
                    media_resource:
                      id: 911e55ef-242d-4df7-b79c-ee62fe57d276
                      file_name: lang2.png
                      mime_type: image/png
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{projectId}/phases:
    get:
      operationId: phasesGetPhases
      summary: Get phases
      description: "Before updating your phase list, you might want to have an overview of the phases already deployed in\
        \ your project. This helps you manage your project based on the current context.\n\n Details \n\n project_Id \n the\
        \ id of the project to be checked \n\n Query params optionals \n\n see Commmon behaviors / differential"
      tags:
      - Phases
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `projectId` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    phases:
                    - id: 3ab68dd8-f288-4ec9-9c81-d6dd59d12b88
                      order: 512
                      name: Trux
                      names:
                      - language: fr
                        translation: Trux
                      enabled: false
                      created_at: '2024-05-23T14:07:36.651606Z'
                      updated_at: '2024-05-23T14:08:03.42011Z'
                      deleted_at: '2024-05-23T14:08:03.42011Z'
                    - id: 0e8c2f2c-9d3c-4871-974b-d445f05e9090
                      order: 1024
                      name: Design
                      names:
                      - language: en
                        translation: Design
                      - language: ca
                        translation: Disseny
                      - language: zh
                        translation: 设计
                      - language: fr
                        translation: Conception
                      - language: de
                        translation: Entwurf
                      - language: it
                        translation: Design
                      - language: ja
                        translation: 設計
                      - language: nl
                        translation: Design
                      - language: pt
                        translation: Design
                      - language: es
                        translation: Diseñar
                      - language: th
                        translation: การออกแบบ
                      - language: vi
                        translation: Thiết kế
                      enabled: true
                      created_at: '2024-05-22T09:26:30.290109Z'
                      updated_at: '2024-05-22T09:26:30.290109Z'
                    need_to_relaunch: true
                    continuous_token: 0|2
                    count: 2
                    total_count: 10
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}:
    get:
      operationId: projectDetailsCheckProjectSettings
      summary: Check project settings
      description: "Users with the correct level of rights can edit project parameters.\n\n You may want to check if and which\
        \ updates have been made."
      tags:
      - Project  details
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    time_zone: Europe/Paris
                    language: fr
                    project_id: f5b14d0b-7b8e4145-bed5-429a-b863-ab6dd1e23056
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    name: Test Luc LibrariesState
                    end_date: '0001-01-01T00:00:00Z'
                    member_count: 0
                    is_archived: false
                    current_user_in_project: false
                    is_active: true
                    created_at: '2023-01-25T13:08:44.790214Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-01-25T13:08:44.790214Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: projectDetailsDeleteAProject
      summary: Delete a project
      description: "You can delete a project.\n\n Endpoint mandatory info \n Details \n\n project_id \n The ID of the project\
        \ you want to delete"
      tags:
      - Project  details
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/categories:
    get:
      operationId: modulesFormsGetFormCategories
      summary: Get form categories
      description: "For a given project, get the list of all existing categories\nYou can filter by mmodule and parent category\n\
        \n Endpoint mandatory info \n Details \n\n project_id \n The ID of the project \n\n Endpoint Query params \n Details\
        \ \n\n module_id \n id of the filtered module id \n\n category_id \n id of the filtered category id \n\n with_disabled\
        \ \n if true return the disabled categories"
      tags:
      - Modules
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    categories:
                    - id: f81b8786-935c-4413-af30-faf159c13f2b
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 2
                      created_at: '2024-02-15T15:01:20.135137Z'
                      updated_at: '2024-02-15T15:01:20.135137Z'
                      enabled: true
                    - id: 073623e5-9454-426a-a319-f59997f6f18b
                      module_id: 4d9fbb6f-5060-45ae-9b27-cc806c4b1487
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categorie ddd Upd
                      created_at: '2024-03-07T14:04:05.198146Z'
                      updated_at: '2024-03-07T14:09:14.38104Z'
                      deleted_at: '2024-03-07T14:09:49.97779Z'
                      enabled: false
                    - id: 0d8ae3bc-164a-4c36-aa6f-9c8866d59670
                      module_id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 5
                      created_at: '2024-03-20T13:20:32.541312Z'
                      updated_at: '2024-03-20T13:20:32.541312Z'
                      deleted_at: '2024-03-20T13:22:46.318596Z'
                      enabled: false
                    - id: 99bb4d5a-51e3-4a65-b5c0-dec520a7a6b9
                      module_id: f5d33e97-6f40-478f-87bf-1fa04a0843ff
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Aze 2.1
                      created_at: '2024-03-19T08:54:24.676016Z'
                      updated_at: '2024-03-19T08:54:24.676016Z'
                      enabled: true
                    - id: 9b1d0730-c65d-4359-804a-e4d5c416bdba
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 2
                      created_at: '2024-02-15T14:57:50.426575Z'
                      updated_at: '2024-02-15T14:57:50.426575Z'
                      deleted_at: '2024-02-15T15:01:02.257525Z'
                      enabled: false
                    - id: e2f6bc4e-f218-4f7b-98cc-966c81543102
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 2
                      created_at: '2024-02-15T14:57:23.657101Z'
                      updated_at: '2024-02-15T14:57:23.657101Z'
                      deleted_at: '2024-02-15T15:00:58.557746Z'
                      enabled: false
                    - id: e608affc-a83b-4078-afef-9ae6fcdb3f26
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 2
                      created_at: '2024-02-15T14:59:26.970143Z'
                      updated_at: '2024-02-15T14:59:26.970143Z'
                      deleted_at: '2024-02-15T15:01:05.681467Z'
                      enabled: false
                    - id: efb034ba-24ca-42f2-a7c3-36f666612d99
                      module_id: 4d9fbb6f-5060-45ae-9b27-cc806c4b1487
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categorie ccc
                      created_at: '2024-03-07T13:57:32.799642Z'
                      updated_at: '2024-03-07T13:57:32.799642Z'
                      enabled: true
                    - id: 04bf1a6d-ce26-484f-93f5-d489eb71452b
                      module_id: 8cf9151c-0a0b-4675-befe-64d868b466ec
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 3----2
                      created_at: '2024-04-11T14:06:09.94564Z'
                      updated_at: '2024-04-11T14:06:09.94564Z'
                      enabled: true
                    - id: 1cbe1164-ebcd-468a-b05d-69a8f4874e4c
                      module_id: 4d9fbb6f-5060-45ae-9b27-cc806c4b1487
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categorie bbb
                      created_at: '2024-03-06T13:52:16.094446Z'
                      updated_at: '2024-03-06T13:52:16.094446Z'
                      enabled: true
                    - id: 37eca3a3-aeaa-4730-9c69-afeb0e49a933
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Aze
                      created_at: '2024-03-19T08:53:17.710324Z'
                      updated_at: '2024-03-19T08:53:17.710324Z'
                      enabled: true
                    - id: 505d5a67-4acc-4a22-98ed-3f715fb0c8ef
                      module_id: 4d9fbb6f-5060-45ae-9b27-cc806c4b1487
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categorie aaa
                      created_at: '2024-03-06T13:40:37.291318Z'
                      updated_at: '2024-03-06T13:40:37.291318Z'
                      enabled: true
                    - id: 558a982d-6d3a-4290-9147-07151a2ffe0f
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 3
                      created_at: '2024-02-15T15:03:13.215222Z'
                      updated_at: '2024-02-15T15:03:13.215222Z'
                      deleted_at: '2024-02-15T16:07:08.654746Z'
                      enabled: false
                    - id: 56894d4e-b9fc-471a-8e0b-d12f9f6c6d91
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 2
                      created_at: '2024-02-15T14:53:16.51161Z'
                      updated_at: '2024-02-15T14:53:16.51161Z'
                      deleted_at: '2024-02-15T15:00:51.073472Z'
                      enabled: false
                    - id: 593647a7-8647-49ba-9552-739125b12486
                      module_id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categ Form 2
                      created_at: '2024-02-13T08:26:23.104113Z'
                      updated_at: '2024-02-13T08:26:23.104113Z'
                      enabled: true
                    - id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                      module_id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categ Form 1
                      created_at: '2024-02-13T08:26:23.104109Z'
                      updated_at: '2024-02-13T08:26:23.104109Z'
                      enabled: true
                    - id: 7d385066-8686-4357-940d-90524f03be97
                      module_id: 8cf9151c-0a0b-4675-befe-64d868b466ec
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 3----1
                      created_at: '2024-04-11T14:05:13.058237Z'
                      updated_at: '2024-04-11T14:05:13.058237Z'
                      enabled: true
                    - id: 7d911da8-82c1-44b1-8224-9382efd1d0a2
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 2
                      created_at: '2024-02-15T14:54:10.90263Z'
                      updated_at: '2024-02-15T14:54:10.90263Z'
                      deleted_at: '2024-02-15T15:00:55.516965Z'
                      enabled: false
                    - id: 89bea999-7e06-42b0-900b-8d3a2fd0b362
                      module_id: a41a8c18-b754-4b65-be6c-22c63987c995
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: test cad pour data
                      created_at: '2024-03-08T08:42:03.963357Z'
                      updated_at: '2024-03-08T08:42:03.963357Z'
                      enabled: true
                    - id: 906dbfc8-a212-44f4-9ac6-6988ff403b04
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 1
                      created_at: '2024-02-15T14:46:42.755881Z'
                      updated_at: '2024-02-15T14:46:42.755881Z'
                      deleted_at: '2024-02-15T16:13:19.796615Z'
                      enabled: false
                    - id: 1c1318ff-07c2-4489-94d5-d32b4a1b4eff
                      module_id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categ Form 1.1
                      parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                      created_at: '2024-02-13T08:26:42.34105Z'
                      updated_at: '2024-02-13T08:26:42.34105Z'
                      enabled: true
                    - id: e7b13254-7bcf-4558-a221-3e15be270c3f
                      module_id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categ form 2.1
                      parent_id: 593647a7-8647-49ba-9552-739125b12486
                      created_at: '2024-02-13T10:28:43.804613Z'
                      updated_at: '2024-02-13T10:28:43.804613Z'
                      enabled: true
                    - id: 2a9558c9-de86-4d6d-8b82-93f9896870d9
                      module_id: 8cf9151c-0a0b-4675-befe-64d868b466ec
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 3--====----3
                      parent_id: 04bf1a6d-ce26-484f-93f5-d489eb71452b
                      created_at: '2024-04-11T14:06:21.979847Z'
                      updated_at: '2024-04-11T14:07:29.863009Z'
                      deleted_at: '2024-04-11T14:07:39.931755Z'
                      enabled: false
                    - id: 9c150a71-be7c-4f0b-8669-507dcfbfa674
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Aze 2.1
                      parent_id: 37eca3a3-aeaa-4730-9c69-afeb0e49a933
                      created_at: '2024-03-19T08:53:37.741416Z'
                      updated_at: '2024-03-19T08:53:37.741416Z'
                      enabled: true
                    - id: a8bc3515-7e92-4050-be84-64812e982f01
                      module_id: f5d33e97-6f40-478f-87bf-1fa04a0843ff
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Aze 2.1
                      parent_id: 99bb4d5a-51e3-4a65-b5c0-dec520a7a6b9
                      created_at: '2024-03-19T08:54:34.200015Z'
                      updated_at: '2024-03-19T08:54:34.200015Z'
                      enabled: true
                    - id: aeeb9af2-3a47-4c0e-9587-dc8dfd5425e6
                      module_id: 15606d9b-c9f5-4726-bc0a-8590a3dc9dc6
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: cat 3-1
                      parent_id: 558a982d-6d3a-4290-9147-07151a2ffe0f
                      created_at: '2024-02-15T15:03:34.764932Z'
                      updated_at: '2024-02-15T15:32:15.510674Z'
                      deleted_at: '2024-02-15T16:04:47.282131Z'
                      enabled: false
                    count: 26
                Success_with_filter:
                  value:
                    categories:
                    - id: 1c1318ff-07c2-4489-94d5-d32b4a1b4eff
                      module_id: 117f1c84-e69d-4429-baf9-74e052f5e0bc
                      container_id: 2421734c-f191-4237-acd8-becf216eaae4
                      name: Categ Form 1.1
                      parent_id: 594f4f7c-6f7a-410b-bb5e-5aa6ef488a9c
                      created_at: '2024-02-13T08:26:42.34105Z'
                      updated_at: '2024-02-13T08:26:42.34105Z'
                      enabled: true
                    count: 1
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/change-members-role:
    post:
      operationId: projectMembersManagementChangeRole
      summary: Change role
      description: "You can change the role of project users.\n\n Endpoint mandatory infos \n Details \n\n projectId \n the\
        \ id of the project to be modified \n\n body mandatory infos \n Details \n\n role_id \n id if the role to be affected\
        \ \n\n user_ids \n list of user ids be be momdified"
      tags:
      - Project members management
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              role_id: 041391c6-cb0a-4157-bb5e-fc3469ea9c69
              user_ids:
              - a2159af5-4144345e-8c2e-4eb5-89b4-5b43a955d10c
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/commonobservations:
    get:
      operationId: projectLibrariesGetProjectCommonObservations
      summary: Get project common observations
      description: "For a given project, you can list the models (= common observations) available by module ID.\n\n Details\
        \ \n\n project_id \n the id of the project to be modified \n\n Query params optionals \n\n see Commmon behaviors /\
        \ differential"
      tags:
      - Project libraries
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    common_observations:
                    - id: 2958187d-93ab-49e6-85d1-f1798b655a74
                      trade_id: b317de66-d677-47f8-8462-ab9887ce72a4
                      names:
                      - language: fr
                        translation: 2ieme couche à réaliser
                      enabled: true
                      created_at: '2024-05-22T09:26:38.624859Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-22T09:26:38.624859Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - id: 8872b022-ded6-4842-a45b-508739f4a8fb
                      trade_id: d22c0e43-fb91-4222-8468-38a071523fa8
                      names:
                      - language: en
                        translation: Acier à reprendre
                      enabled: true
                      created_at: '2024-05-22T09:26:38.789267Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-22T09:26:38.789267Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    need_to_relaunch: true
                    continuous_token: 0|2
                    count: 2
                    total_count: 41
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: modulesObservationsCreateCommonObservation
      summary: Create common observation
      description: "Create a model for a given category within a module.\n\n Details \n\n project_Id \n the id of the project\
        \ to be modified \n\n body mandatory infos \n Details \n\n trade_id \n id of the trade who contain this common observations\
        \ \n\n names \n list of langages and translations"
      tags:
      - Modules
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              trade_id: '{{trade_id}}'
              names:
              - language: en
                translation: <string>
              - language: fr
                translation: <string>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Create_common_observation:
                  value:
                    id: a2c57b4e-ce31-466e-a52b-d946cb952de1
                    enabled: true
                    names:
                    - language: en
                      translation: essaiobs
                    - language: fr
                      translation: essaiobs
                    trade_id: 274e9196-fd0f-4d26-a54c-ec71565c556d
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/commonobservations/{commonObs_id}:
    get:
      operationId: modulesObservationsGetProjectCommonObservation
      summary: Get project common observation
      description: "Get the details of a common observation (model).\n\n Details \n\n project_id \n the id of the project\
        \ to be modified \n\n commonObs_id \n id of the common observation to be verified"
      tags:
      - Modules
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      - name: commonObs_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `commonObs_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: c25be206-944d-4162-a3bf-ea0768cd5ac5
                    trade_id: 907b66bb-cf34-4813-9ac8-3eb7d18a9714
                    names:
                    - language: fr
                      translation: 2ieme couche à réaliser
                    enabled: true
                    created_at: '2023-10-10T09:50:43.458085Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-10-10T09:50:43.458085Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/companies:
    get:
      operationId: companiesGetProjectCompaniesList
      summary: Get  project companies list
      description: "Before updating your company list, you might want to have an overview of the ones deployed in your project.\
        \ This helps you manage your project based on the current context.\n\n Details \n\n project_Id \n the id of the project\
        \ to be checked \n\n Query params optionals \n\n see Commmon behaviors / differential"
      tags:
      - Companies
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    companies:
                    - id: 3d40ff78-e900-423c-a842-10cc2a4d5f18
                      name: entrep 2
                      enabled: true
                      created_at: '2024-05-22T09:48:31.393607Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-22T09:48:31.393607Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - id: 592f260a-0197-459e-a724-3bbf7b7ca051
                      name: entrep 1
                      enabled: true
                      created_at: '2024-05-22T09:48:24.403954Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-22T09:48:24.403954Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    need_to_relaunch: true
                    continuous_token: CT:Unknown-0-2
                    count: 2
                    total_count: 5
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      operationId: companiesUpdateProjectCompanyName
      summary: Update project company name
      description: "Update your list of companies. Only the selected companies will change.\n\n Endpoint mandatory infos \n\
        \ Details \n\n project_Id \n the id of the project to be modified \n\n body mandatory infos \n Details \n\n id \n\
        \ id of the company to be modified \n\n name \n new name of the company \n\n body optionalinfos \n Details \n\n reference\
        \ \n company reference in your referential system"
      tags:
      - Companies
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              companies:
              - id: <uuid>
                name: <string>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    companies:
                    - id: 2cf2d0f2-3084-4b43-b78d-8992bd922f79
                      name: Company 1 - New Name
                    - id: 72e65911-4baf-4109-b1a8-aebae2f97c00
                      name: Company 2 - New Name
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: companiesDeleteProjectCompanies
      summary: Delete project companies
      description: "You can provide the list of company IDs you want to remove from your project. The existing assignments\
        \ will be tagged as deleted entities.\n\n Details \n\n project_Id \n the id of the project to be modified \n\n body\
        \ mandatory infos \n Details \n\n company_ids \n list of companies ids to be deleted"
      tags:
      - Companies
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              company_ids:
              - <uuid>
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: companiesCreateProjectCompanies
      summary: Create project companies
      description: "Creating a new company for a project only means giving it a name. Additionally, you can do it as a list\
        \ of companies.\n\n Details \n\n project_Id \n the id of the project to be modified \n\n body mandatory infos \n Details\
        \ \n\n companies \n list of names and references of the new companies \n \nthe reference is the company reference\
        \ in your referential system and is optional"
      tags:
      - Companies
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              companies:
              - name: <string>
              - name: <string>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    companies:
                    - id: 25c48f04-16fe-48eb-8870-be8d2c7b8cd5
                      name: Company A
                    - id: 007ab530-0b7d-4168-bac3-1a13d1c2dabe
                      name: Company B
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/companies/{company_id}:
    get:
      operationId: companiesGetCompanyInfo
      summary: Get company info
      description: "Given the project company ID, you can check its name.\n\n Details \n\n project_Id \n the id of the project\
        \ to be modified \n\n company_id \n id of the company to be checked"
      tags:
      - Companies
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `company_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: af4f4f2a-2688-4caa-bc8d-d3d07b4e682e
                    name: company1
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/companies/{company_id}/add-members:
    post:
      operationId: companiesAddMembers
      summary: Add members
      description: "Given the project company ID, you can add members (members should exist in the project).\n\n Details \n\
        \n project_Id \n the id of the project to be modified \n\n company_id \n id of the company to be checked \n\n Body\
        \ mandatory infos \n Details \n\n list of users ids"
      tags:
      - Companies
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `company_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              user_ids:
              - 23c0968f-4b9d3ab1-368d-47dc-bc6e-4afbe6c144cc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 72e65911-4baf-4109-b1a8-aebae2f97c00
                    name: Company 2
                    enabled: true
                    user_ids:
                    - 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - 23c0968f-4b9d3ab1-368d-47dc-bc6e-4afbe6c144cc
                    created_at: '2024-01-25T14:01:53.394256Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2024-01-26T13:45:27.3128544Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/companies/{company_id}/remove-members:
    post:
      operationId: companiesRemoveMembers
      summary: Remove members
      description: "Given the project company ID, you can remove members.\n\n Details \n\n project_Id \n the id of the project\
        \ to be modified \n\n company_id \n id of the company to be checked \n\n Body mandatory infos \n Details \n\n list\
        \ of users ids"
      tags:
      - Companies
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      - name: company_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `company_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              user_ids:
              - 23c0968f-4b9d3ab1-368d-47dc-bc6e-4afbe6c144cc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 72e65911-4baf-4109-b1a8-aebae2f97c00
                    name: Company 2
                    enabled: true
                    user_ids:
                    - 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    created_at: '2024-01-25T14:01:53.394256Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2024-01-26T13:45:11.4211361Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/documents:
    post:
      operationId: documentsCreateDocumentOrFolders
      summary: Create document or folders
      description: "Folders allow for document organization, as well as preview and context. Each folder comes with a name.\n\
        \n You can specify where to add the folder in your hierarchy by designating its parent (another folder or the root).\n\
        \n All kinds of documents can be added within this document module.\n\n Endpoint mandatory infos \n Details \n\n project_Id\
        \ \n the id of the project to be modified \n\n body mandatory infos \n Details \n\n name \n name of the folder or\
        \ document \n\n media_id \n id of the document media \nsould be present only for document generation \n(a folder has\
        \ no media) \n\n body optional infos \n Details \n\n parent_id \n the id of the parent folder in the hierarchy"
      tags:
      - Documents
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success_folder:
                  value:
                    id: ce962734-9fd7-4bec-ab2c-1455e48425a5
                    type: Folder
                    name: docFold
                    enabled: true
                    created_at: '2022-11-29T15:35:29.5113161Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2022-11-29T15:35:29.5113192Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                Success_document:
                  value:
                    id: 8ce4b833-d6c5-448c-a754-322b35f9d468
                    type: Document
                    name: mydoc
                    parent_id: ce962734-9fd7-4bec-ab2c-1455e48425a5
                    media_resource:
                      id: 372f17d7-2e27-4efc-bb9b-c7322300c7eb
                      mime_type: image/png
                    enabled: true
                    created_at: '2022-11-29T15:38:02.7754111Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2022-11-29T15:38:02.7754205Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    get:
      operationId: documentsGetDocumentsAndFolders
      summary: Get documents and folders
      description: "Before creating folders or documents, you might want to have an overview of those already deployed in\
        \ your project. This helps you manage them based on the current context.\n\n Endpoint mandatory infos \n Details \n\
        \n project_Id \n the id of the project to be modified \n\n Query params optionals \n\n see Commmon behaviors / differential"
      tags:
      - Documents
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    documents:
                    - id: 1b8f0877-fedb-4f50-867b-2256c23321f1
                      type: Folder
                      name: QSD
                      enabled: true
                      created_at: '2024-05-28T12:59:42.238Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-28T12:59:42.238Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - id: f8de6f6c-87a4-47a7-8bba-efe542f04af8
                      type: Document
                      name: LogoClient.png
                      media_resource:
                        id: ad702b87-bc2b-4073-b868-6c5d24b802c3
                        mime_type: image/png
                        created_at: '2024-05-28T12:59:54.067Z'
                      enabled: true
                      file_type: Image
                      created_at: '2024-05-28T12:59:54.067Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-28T12:59:54.067Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    need_to_relaunch: true
                    continuous_token: 638524979940680000|e30=
                    count: 2
                    total_count: 7
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/documents/filter:
    get:
      operationId: documentsGetDocumentsAndFoldersByParent
      summary: Get documents and folders by parent
      description: "Before creating folders or documents, you might want to have an overview of those already deployed in\
        \ your project. This helps you manage them based on the current context.\n\n Endpoint mandatory infos \n Details \n\
        \n project_Id \n the id of the project to be modified \n\n Query params optionals \n\n see Commmon behaviors / differential"
      tags:
      - Documents
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    documents:
                    - id: c0fad6b3-2501-4bc5-b0ce-1c7e0587447a
                      type: Document
                      name: Arrow right.png
                      parent_id: cbf271ae-357a-4af4-b955-75bea02155ac
                      media_resource:
                        file_name: Arrow right.png
                        mime_type: image/png
                        created_at: '2025-04-22T08:51:23.135Z'
                      enabled: true
                      file_type: Image
                      created_at: '2025-04-22T08:51:23.135Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2025-04-22T08:51:23.135Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - id: a58960f5-a792-40a0-ad08-278ceb2eb2f8
                      type: Document
                      name: Building.png
                      parent_id: cbf271ae-357a-4af4-b955-75bea02155ac
                      media_resource:
                        file_name: Building.png
                        mime_type: image/png
                        created_at: '2025-04-22T08:51:23.69Z'
                      enabled: true
                      file_type: Image
                      created_at: '2025-04-22T08:51:23.69Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2025-04-22T08:51:23.69Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - id: f633b9b9-2b46-4aed-ab53-cff6e9b9973e
                      type: Document
                      name: Logo-Color.png
                      parent_id: cbf271ae-357a-4af4-b955-75bea02155ac
                      media_resource:
                        file_name: Logo-Color.png
                        mime_type: image/png
                        created_at: '2025-04-22T08:51:24.04Z'
                      enabled: true
                      file_type: Image
                      created_at: '2025-04-22T08:51:24.04Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2025-04-22T08:51:24.04Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    count: 3
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/documents/{document_id}:
    get:
      operationId: documentsGetDocumentOrFolder
      summary: Get document or folder
      description: "Before creating folders or documents, you might want to have an overview of those already deployed in\
        \ your project. This helps you manage them based on the current context.\n\n You can retrieve both folders and documents.\n\
        \n Endpoint mandatory infos \n Details \n\n project_Id \n the id of the project to be modified \n\n document_id \n\
        \ id the the document or folde to be checked"
      tags:
      - Documents
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `document_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Get_folder:
                  value:
                    id: c36dd915-498e-4d9d-9758-e95719083cdd
                    type: Folder
                    name: Handmade
                    enabled: true
                Get_document:
                  value:
                    id: 80579b1e-8581-49df-90a8-132eaad7b9cf
                    type: Document
                    name: for
                    parent_id: c36dd915-498e-4d9d-9758-e95719083cdd
                    media_resource:
                      id: 84600611-01f6-49dd-a521-e7a7eaab6d24
                    enabled: true
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      operationId: documentsUpdateDocumentOrFolder
      summary: Update document or folder
      description: "You can move and edit folder names. You can also move, edit document names, and update documents.\n\n\
        \ Endpoint mandatory infos \n Details \n\n project_Id \n the id of the project to be modified \n\n document_id \n\
        \ id of the document or folder to be modified \n\n body optional infos \n Details \n\n name \n new name of the document\
        \ or folder \n\n parent_id \n the id of the new parent folder in the hierarchy \n\n media_id \n id of new media (for\
        \ document change only)"
      tags:
      - Documents
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `document_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: <string>
              media_id: <uuid>
              parent_id: <string>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 8ce4b833-d6c5-448c-a754-322b35f9d468
                    type: Document
                    name: renamed2
                    parent_id: ce962734-9fd7-4bec-ab2c-1455e48425a5
                    media_resource:
                      id: 01d907a3-0324-4026-800b-f823e8247577
                      mime_type: image/png
                    enabled: true
                    created_at: '2022-11-29T15:38:02.775Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2022-11-30T15:45:00.7855601Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: documentsDeleteDocumentOrFolder
      summary: Delete document or folder
      description: "You can delete a document or a folder of documents.\n\n Details \n\n project_Id \n the id of the project\
        \ to be modified \n\n document_id \n id of the document or folder to be deleted"
      tags:
      - Documents
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      - name: document_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `document_id` as published in the collection.
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/folders:
    get:
      operationId: locationsGetFolderTree
      summary: Get folder tree
      description: "Before creating folders, you might want to have an overview of the ones deployed in your project. This\
        \ helps you manage it based on the current context.\n\n Endpoint mandatory infos \n Details \n\n project_id \n the\
        \ id of the project to be modified \n\n Query params optionals \n\n see Commmon behaviors / differential"
      tags:
      - Locations
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    folders:
                    - id: 89cae481-e28c-452f-9253-d293658d2720
                      name: aaaaaaaa
                      enabled: true
                      created_at: '2024-05-22T11:57:03.421945Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-22T11:57:03.421945Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    - id: 42c828e2-b063-4292-9e06-7520c6be853e
                      name: bbbbbbbb
                      enabled: true
                      created_at: '2024-05-22T11:57:11.689485Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-05-22T11:57:11.689485Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    need_to_relaunch: true
                    continuous_token: 0|2
                    count: 2
                    total_count: 3
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: locationsCreateFolder
      summary: Create folder
      description: "Folders allow plans organization but also preview and context. A folder comes with a name.\n\n You can\
        \ specify where to add the folder in your hierarchy by specifying its parent (another folder or the root).\n\n Details\
        \ \n\n project_Id \n the id of the project to be modified \n\n body mandatory infos \n Details \n\n name \n name of\
        \ the folder \n\n body optional infos \n Details \n\n parent_id \n the id of the parent folder in the hierarchy"
      tags:
      - Locations
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: <string>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 08780149-b53e-47e0-9dde-0a1f1eb7cb4f
                    name: Plans GO
                    enabled: true
                    created_at: '2023-06-29T08:53:47.1898491Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-06-29T08:53:47.1898491Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                Success_with_parent:
                  value:
                    id: 10ead329-3eaf-4669-b2ed-4a2e7ad085b9
                    name: RDC
                    parent_id: 08780149-b53e-47e0-9dde-0a1f1eb7cb4f
                    enabled: true
                    created_at: '2023-06-29T08:54:31.6168973Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2023-06-29T08:54:31.6168973Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/folders/children-folders:
    get:
      operationId: locationsGetFolderContent
      summary: Get folder content
      description: "You can get the content (plans and/or folders) for a folder\n\n Endpoint mandatory infos \n Details \n\
        \n project_id \n the id of the project to be modified \n\n Endpoint optional query infos \n Details \n\n folder_id\
        \ \n id of the parent folder \n\n type \n folder or plan or null"
      tags:
      - Locations
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `project_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    contents:
                    - id: 77a6ef89-d541-4e07-8efb-694045f6f698
                      type: folder
                      name: machine
                      order: 3072
                      created_at: '2025-02-13T16:14:02.404779Z'
                      updated_at: '2025-02-13T16:14:11.503789Z'
                      enabled: true
                    - id: 8f77778d-dce7-4659-8ba4-5a50d3dd7827
                      type: plan
                      name: image (1).png
                      order: 4096
                      created_at: '2025-04-22T09:56:43.546463Z'
                      updated_at: '2025-04-22T09:56:43.546463Z'
                      enabled: true
                    - id: f8a9269f-3214-4cc2-8a2f-668d2ead7709
                      type: plan
                      name: image (2).png
                      order: 4096
                      created_at: '2025-04-22T09:56:43.546366Z'
                      updated_at: '2025-04-22T09:56:43.546366Z'
                      enabled: true
                    count: 3
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /projects/{project_id}/form-answers:
    post:
      operationId: formsCreateAnswer
      summary: Create answer
      description: "Based on a form ID, you can fill the different fields of the form. Here is the list of field types you\
        \ can fill from the API:\n\n Short answer\n\n Paragraph\n\n Single choice\n\n Multiple choice\n\n Control\n\n Phone\n\
        \n Email\n\n Disclaimer\n\n Grid\n\n Signature\n\n Linked files\n\n To do so, you have to get the field ID and type\
        \ by using the \"Get form answer\" endpoint. Include the following info in the endpoint.\n\n Endpoint mandatory info\
        \ \n Details \n\n project_id \n The ID of the project where the form has been created \n\n Body mandatory info \n\
        \ Details \n\n form_instance_id \n The ID of the form instance \n\n field_id \n The ID of the field you want to update\
        \ \n\n Depending on type_field_presentation and type_field_data for each field you have to fill in the endpoint the\
[...]
