openapi: 3.1.0
info:
  title: Finalcad One Organization Management API
  version: '2.41'
  summary: 'Organization-level administration of a Finalcad One Enterprise tenant: workspaces, members and roles, observation
    status / trade / common-observation / priority / form-template libraries, form and observation module types, data referentials,
    and Power BI dataset configuration.'
  description: 'Organization-level administration of a Finalcad One Enterprise tenant: workspaces, members and roles, observation
    status / trade / common-observation / priority / form-template libraries, form and observation module types, data referentials,
    and Power BI dataset configuration.


    DERIVED, NOT PUBLISHED BY THE PROVIDER. Finalcad publishes no OpenAPI. This document was mechanically derived by API Evangelist
    from the first-party public Postman collection "Finalcad One API" served by Finalcad at https://developer.finalcad.com/
    (collection JSON: https://developer.finalcad.com/api/collections/10995648/Tz5v1Es2), saved in this repo at collections/finalcad.postman_collection.json.
    Every path, method, header, query parameter, example request body and example response below is carried over from that
    collection; nothing was invented. Request/response bodies are typed as generic objects because the collection carries
    examples, not schemas. Four Finalcad employees'' personal e-mail addresses that appeared in the collection''s example
    payloads were replaced with placeholders; nothing else was changed.'
  contact:
    name: Finalcad One API — developer portal
    url: https://developer.finalcad.com/
  x-generated-by: API Evangelist enrichment pipeline (derived from the first-party Postman collection)
  x-source: collections/finalcad.postman_collection.json
  x-source-url: https://developer.finalcad.com/
servers:
- url: https://developer.finalcad.cloud/api
  description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
- url: https://developer.sandbox.finalcad.cloud/api
  description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
security:
- apiKey: []
  tokenAuth: []
tags:
- name: Datasets
- name: Libraries
- name: Members
- name: Referential
- name: User organizations
- name: Workspaces
paths:
  /organizations:
    get:
      operationId: userOrganizationsGetOrganizationId
      summary: Get organization ID
      description: You can get the IDs of all the organizations where you are a member and that have the correct license type
        here.
      tags:
      - User organizations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                  - id: 0ca0f152-1111-3333-995e-f6b4fdf3e2eb
                    name: My organization
                  - id: 02a59bf6-2222-4444-b870-ca3b14c8e603
                    name: Shared organization
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/user-infos/{user_id}:
    get:
      operationId: membersGetUserInformation
      summary: Get user information
      description: "You can check member info.\n\n Endpoint mandatory infos \n Details \n\n user_id \n the id of the user\
        \ to be checked"
      tags:
      - Members
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `user_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: <my_user_id>
                    first_name: <my_first_name>
                    last_name: <my_name>
                    email: <my_email>
                    is_active: 'true'
                    email_validated: 'true'
                    created_at: '2022-06-02T07:28:34.483278Z'
                    updated_at: '2023-07-26T13:24:40.68237Z'
                    media_resource:
                      id: 737a4362-0371-4742-9b58-ffe4d4d2e768
                      file_name: logo.png
                      mime_type: image/png
                      created_at: '2023-07-26T13:24:40.672379Z'
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organizationId}/common-observations:
    put:
      operationId: librariesObservationLibraryAddOrUpdateOrganizationCommonObservations
      summary: Add or update organization common observations
      description: "For a given category, you can add models to your library. For each, you can define translations. You can\
        \ also update existing models.\n\n Compared to creation, you need to specify the ID of the ones you want to manage.\n\
        \n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n Body parameters \n\
        \ Details \n\n a list of \n\n trade_id \n id of the category \n\n id \n id of the model if modified \n\n icon \n icon\
        \ name \n\n names \n list of names and langages"
      tags:
      - Libraries
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organizationId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              common_observations:
              - names:
                - language: en
                  translation: array
                - language: fr
                  translation: feed
                trade_id: <uuid>
                id: <uuid>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    common_observations:
                    - trade_id: 6198a574-7b61-44b7-8142-903349d7c7ef
                      id: e7f3607b-be5a-4556-82e7-dc90e6f7db8a
                      names:
                      - language: fr
                        translation: Prises
                      - language: en
                        translation: Outlets
                    - trade_id: 9adcae91-2db4-4a7f-840c-aaf00c980d7c
                      id: c2394c8d-47c5-4c14-96e7-0b805d550bb7
                      names:
                      - language: fr
                        translation: Evacuations
                      - language: en
                        translation: Draining
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: librariesObservationLibraryDeleteOrganizationCommonObservations
      summary: Delete organization common observations
      description: "You can provide the list of model IDs and their corresponding category IDs that you want to remove from\
        \ your library. Those values won't be used as default project values, but they will still be usable in existing projects.\n\
        \n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n Body parameters \n\
        \ Details \n\n a list of \n\n id \n id of the model \n\n trade_id \n id of the category"
      tags:
      - Libraries
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organizationId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              common_observations:
              - id: <uuid>
                trade_id: <uuid>
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/add-members:
    post:
      operationId: membersAddMembers
      summary: Add members
      description: "To ease this step, you can directly add a list of members. Your invitations can fall into two cases:\n\
        \n The email is already linked to a Finalcad One account. The member will be directly added to the project and receive\
        \ a notification.\n\n The email is not linked to a Finalcad One account. The member will be invited to create an account\
        \ by email. Meanwhile, the invitations will be visible as pending in the organization member list.\n\n To invite a\
        \ member to your project, an email needs to be associated with a project role. See Get roles . \n\n Endpoint mandatory\
        \ infos \n Details \n\n organization_id \n the id of the project to be modified \n\n body mandatory infos \n Details\
        \ \n\n role_users \n list of roles and users \neach contains : \n\n role_id \n organization role id to be used \n\
        if missing , use the default one \n\n users_info \n list of user_id or email as string"
      tags:
      - Members
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              role_users:
              - role_id: e735e603-225a-47d1-bd39-72a1afae7c9f
                users_info:
                - the_user_email
                - another_email
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/change-members-role:
    post:
      operationId: membersChangeRole
      summary: Change role
      description: "You can change the role of a user.\n\n Endpoint mandatory infos \n Details \n\n organization_id \n the\
        \ id of the project to be modified \n\n body mandatory infos \n Details \n\n role_id \n organization role id to be\
        \ used \n\n users_info \n list of user_id to be changed"
      tags:
      - Members
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
              users_info:
              - the_user_id
              - another_user_id
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/change-members-role-bulk:
    post:
      operationId: membersChangeSeveralRoles
      summary: Change several roles
      description: "You can change several roles for several users.\n\n Endpoint mandatory infos \n Details \n\n organization_id\
        \ \n the id of the organization to be modified \n\n body mandatory infos \n Details \n --- \n\n List of \n\n role_id\
        \ \n organization role id to be used \n\n users_info \n list of user_id to be changed"
      tags:
      - Members
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/data/config:
    get:
      operationId: datasetsGetDatasets
      summary: Get datasets
      description: "Get the list of datasets for the organization.\n\n Endpoint mandatory parameters \n Details \n\n organization_id\
        \ \n id of your organization"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    data_sets:
                    - name: Observations
                      is_active: true
                    - name: Statuses
                      is_active: true
                    - name: CommonObservations
                      is_active: true
                    - name: FormInstances
                      is_active: true
                    - name: FormTemplates
                      is_active: true
                    - name: Plans
                      is_active: true
                    - name: Companies
                      is_active: true
                    - name: Phases
                      is_active: true
                    - name: Modules
                      is_active: true
                    - name: Users
                      is_active: true
                    - name: Projects
                      is_active: true
                    - name: Workspaces
                      is_active: true
                    - name: Documents
                      is_active: true
                    - name: FormAnswers
                      is_active: true
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: datasetsPostDatasets
      summary: Post datasets
      description: "Set the list of active datasets.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n\
        \ id of your organization \n\n body mandatory \n\n data_sets \n list of the active datasets \nall missing dataset\
        \ are invalidated \n\n Dataset list :\nCommonObservations, Companies, FormInstances, FormTemplates, Modules, Observations,\
        \ Phases, Plans, Statuses, Projects, Workspaces, Documents, Users, FormAnswers, UserActivities, Priorities, ProjectsUsersRoles"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              data_sets:
              - CommonObservations
              - Companies
              - FormInstances
              - FormTemplates
              - Modules
              - Observations
              - Phases
              - Plans
              - Statuses
              - Projects
              - Workspaces
              - Documents
              - Users
              - FormAnswers
              - UserActivities
              - Priorities
              - ProjectsUsersRoles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    data_sets:
                    - name: Observations
                      is_active: true
                      url: https://tf-business-organization......Amz....a886e
                    - name: Forms
                      is_active: true
                    - name: Plans
                      is_active: false
                    - name: Documents
                      is_active: false
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/data/config/dataset:
    get:
      operationId: datasetsGetDatasetContent
      summary: Get dataset content
      description: "Get the content for an active dataset (limited to 10MB).\n\n Endpoint mandatory parameters \n Details\
        \ \n\n organization_id \n id of your organization \n\n name \n name of the dataset"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/data/config/dataseturl:
    get:
      operationId: datasetsGetDatasetUrl
      summary: Get dataset URL
      description: "Get a downloadable URL for an active dataset.\n\n Endpoint mandatory parameters \n Details \n\n organization_id\
        \ \n id of your organization \n\n name \n name of the dataset"
      tags:
      - Datasets
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    url: https://medias....LSEQ
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/datareferentials:
    get:
      operationId: referentialGetDataReferentials
      summary: Get data referentials
      description: "Get the list of all data referentials for your organization.\n\n Details \n\n organization_id \n id of\
        \ your organization \n\n Query params optionals \n\n see Commmon behaviors / differential"
      tags:
      - Referential
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    data_referentials:
                    - id: 56f2caea-9f65-402f-8b80-0dcac4815a3e
                      name: Employés
                      organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                      media_resource:
                        id: 9ddf1fcf-7067-4ad6-a8fb-7a1883af71b1
                        file_name: MDD-Employes.csv
                        mime_type: text/csv
                        created_at: '0001-01-01T00:00:00Z'
                      status: Success
                      structure:
                      - ID
                      - UPN
                      - Email
                      - Matricule
                      - Nom
                      - Prenom
                      - Fonction
                      - Service
                      - Telephone
                      - GUID Entite
                      - Nom Entite
                      - Type de contrat
                      - Libellé emploi
                      - Aptitude
                      - Dernière date de visite médicale
                      - Interne
                      - Source
                      - Modifié le
                      - EtatEnr
                      - Emploi Foederis
                      - Restriction
                      - Nom du contact/Num Téléphone
                      - Habilitation(s)
                      created_at: '2024-01-19T13:08:07.992Z'
                      created_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                      updated_at: '2024-01-19T13:08:22.831Z'
                      updated_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                    - id: 14753cc4-3059-4f4e-83d6-729e43081b4d
                      name: Test
                      organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                      media_resource:
                        id: a31d2153-7c65-4d4d-a230-9c3cc5351750
                        file_name: Test.csv
                        mime_type: application/vnd.ms-excel
                        created_at: '0001-01-01T00:00:00Z'
                      status: Success
                      structure:
                      - ID
                      - UPN
                      - Email
                      - Matricule
                      - Nom
                      - Prenom
                      - Fonction
                      - Service
                      - Telephone
                      - GUID Entite
                      - Nom Entite
                      - Type de contrat
                      - Libellé emploi
                      - Aptitude
                      - Dernière date de visite médicale
                      - Interne
                      - Source
                      - Modifié le
                      - EtatEnr
                      - Emploi Foederis
                      - Restriction
                      - Nom du contact/Num Téléphone
                      created_at: '2024-01-10T10:15:20.573Z'
                      created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      updated_at: '2024-03-05T10:07:55.721Z'
                      updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      deleted_at: '2024-03-05T10:07:55.721Z'
                      deleted_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    continuous_token: dHV0dQ==
                    count: 2
                    limit: 50
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      operationId: referentialCreateDataReferential
      summary: Create data referential
      description: "Create a new referential.\n\n Details \n\n organization_id \n id of your organization \n\n body mandatory\
        \ params \n Details \n\n media_id \n Id the a previously uploaded media file \n\n name \n name of the referential"
      tags:
      - Referential
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              media_id: <uuid>
              name: <string>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: cba7b13c-7e01-4d0b-9396-f758d982ca31
                    name: Test Employés
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    media_resource:
                      id: b7427db4-5874-4c47-8a36-771683dd0cb3
                      file_name: MDD-Employes -v2023.v2.ms-excel
                      mime_type: application/octet-stream
                      created_at: '0001-01-01T00:00:00Z'
                    status: InProgress
                    created_at: '2024-03-05T12:55:45.1947895Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2024-03-05T12:55:45.364755Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/datareferentials/{referentialId}:
    get:
      operationId: referentialGetDataReferential
      summary: Get data referential
      description: "Get the list of all data referentials for your organization.\n\n Details \n\n organization_id \n id of\
        \ your organization \n\n referential_id \n id of the referential"
      tags:
      - Referential
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: referentialId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `referentialId` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 56f2caea-9f65-402f-8b80-0dcac4815a3e
                    name: Employés
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    media_resource:
                      id: 9ddf1fcf-7067-4ad6-a8fb-7a1883af71b1
                      file_name: MDD-Employes.csv
                      mime_type: text/csv
                      created_at: '0001-01-01T00:00:00Z'
                    status: Success
                    structure:
                    - ID
                    - UPN
                    - Email
                    - Matricule
                    - Nom
                    - Prenom
                    - Fonction
                    - Service
                    - Telephone
                    - GUID Entite
                    - Nom Entite
                    - Type de contrat
                    - Libellé emploi
                    - Aptitude
                    - Dernière date de visite médicale
                    - Interne
                    - Source
                    - Modifié le
                    - EtatEnr
                    - Emploi Foederis
                    - Restriction
                    - Nom du contact/Num Téléphone
                    - Habilitation(s)
                    created_at: '2024-01-19T13:08:07.992Z'
                    created_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                    updated_at: '2024-01-19T13:08:22.831Z'
                    updated_by: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    delete:
      operationId: referentialDeleteDataReferential
      summary: Delete data referential
      description: "Delete a referential.\n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your\
        \ organization \n\n referential_id \n id of the referential"
      tags:
      - Referential
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: referentialId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `referentialId` as published in the collection.
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/datareferentials/{referentialId}/set-name:
    put:
      operationId: referentialRenameDataReferential
      summary: Rename data referential
      description: "Rename a referential.\n\n Details \n\n organization_id \n id of your organization \n\n referential_id\
        \ \n if of the referential \n\n body mandatory params \n Details \n\n name \n name of the referential"
      tags:
      - Referential
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: referentialId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `referentialId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: the new name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 3b014303-d9ff-4713-bf09-95e4a0257e7f
                    name: the new name
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    media_resource:
                      id: b0a6e99e-8eeb-4010-b095-b60e34d63f15
                      file_name: MDD-Employes -v2023.v2.ms-excel
                      mime_type: application/octet-stream
                      created_at: '0001-01-01T00:00:00Z'
                    status: Success
                    structure:
                    - ID
                    - UPN
                    - Email
                    - Matricule
                    - Nom
                    - Prenom
                    - Fonction
                    - Service
                    - Telephone
                    - GUID Entite
                    - Nom Entite
                    - Type de contrat
                    - Libellé emploi
                    - Aptitude
                    - Dernière date de visite médicale
                    - Interne
                    - Source
                    - Modifié le
                    - EtatEnr
                    - Emploi Foederis
                    - Restriction
                    - Nom du contact/Num Téléphone
                    created_at: '2024-01-09T10:42:18.292Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2024-03-05T12:57:08.449295Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/datareferentials/{referentialId}/set-referential:
    put:
      operationId: referentialUpdateDataReferential
      summary: Update data referential
      description: "Replace a new referential's content.\n\n It is your responsibility to verify that the file structure is\
        \ the same as the previous one. \n\n Endpoint mandatory parameters \n Details \n\n organization_id \n id of your organization\
        \ \n\n referential_id \n id of the referential \n\n body mandatory params \n Details \n\n media_id \n Id the a previously\
        \ uploaded media file"
      tags:
      - Referential
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: referentialId
        in: path
        required: true
        schema:
          type: string
        description: Path variable `referentialId` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              media_id: <uuid>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: 3b014303-d9ff-4713-bf09-95e4a0257e7f
                    name: test
                    organization_id: 2421734c-f191-4237-acd8-becf216eaae4
                    media_resource:
                      id: b0a6e99e-8eeb-4010-b095-b60e34d63f15
                      file_name: MDD-Employes -v2023.v2.ms-excel
                      mime_type: application/octet-stream
                      created_at: '0001-01-01T00:00:00Z'
                    status: Updating
                    structure:
                    - ID
                    - UPN
                    - Email
                    - Matricule
                    - Nom
                    - Prenom
                    - Fonction
                    - Service
                    - Telephone
                    - GUID Entite
                    - Nom Entite
                    - Type de contrat
                    - Libellé emploi
                    - Aptitude
                    - Dernière date de visite médicale
                    - Interne
                    - Source
                    - Modifié le
                    - EtatEnr
                    - Emploi Foederis
                    - Restriction
                    - Nom du contact/Num Téléphone
                    created_at: '2024-01-09T10:42:18.292Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2024-03-05T12:56:12.4538467Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/forms:
    get:
      operationId: librariesFormTemplatesGetOrganizationFormTemplates
      summary: Get organization form templates
      description: "Get the list of form templates in your organization.\n\n Endpoint mandatory parameters \n Details \n\n\
        \ organization_id \n id of your organization \n\n Query params optionals \n\n limit \n number max of elements to get\
        \ \n\n offset \n index of the first returned element"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    form_templates:
                    - id: 0401e23a-5031-419f-9f93-aef05fc572ef
                      names:
                      - language: en
                        translation: Formulaire avec tous les champs
                      form_template_languages:
                      - language: en
                        is_default: true
                      visibility: Available
                    - id: 68cf2910-1044-4e6c-a11b-a4b319f8da98
                      names:
                      - language: en
                        translation: mon_modele
                      form_template_languages:
                      - language: fr
                        is_default: true
                      visibility: Available
                    count: 2
                    total_count: 2
                    limit: 50
                    offset: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/forms/{form_id}:
    get:
      operationId: librariesFormTemplatesGetFormTemplate
      summary: Get form template
      description: "You can get a complete form template description.\n\n Endpoint mandatory infos \n Details \n\n project_Id\
        \ \n the id of the project to be modified \n\n form_id \n id the the form template used by the form instance (look\
        \ at get form detail to found it)"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      - name: Accept-Language
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Get_form_template:
                  value:
                    id: 6146039d-8734-48e5-bf2b-5034c63a7bbc
                    names:
                    - locale: fr
                      translation: FormTemplate dans WS
                    created_at: '2024-04-30T13:34:01.728Z'
                    created_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    updated_at: '2024-04-30T13:35:07.052Z'
                    updated_by: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                    enabled: false
                    version: 1
                    form_statuses:
                    - id: 290d3800-1b2d-47bc-a590-8986e9f796b4
                      color: '#49CB0C'
                      num: 1
                      default_status: false
                      names:
                      - locale: th
                        translation: ทำเสร็จแล้ว
                      - locale: vi
                        translation: Đã hoàn thành
                      - locale: es
                        translation: Realizado
                      - locale: de
                        translation: Erledigt
                      - locale: ca
                        translation: Fet
                      - locale: fr
                        translation: Terminé
                      - locale: zh
                        translation: 已完成
                      - locale: nl
                        translation: Gedaan
                      - locale: ja
                        translation: 完了
                      - locale: it
                        translation: Fatto
                      - locale: en
                        translation: Done
                      - locale: pt
                        translation: Feito
                    - id: 31fcfbca-82e5-4010-a7e9-e0351560e70a
                      color: '#E94F3D'
                      num: 2
                      default_status: false
                      names:
                      - locale: nl
                        translation: Niet conform
                      - locale: ca
                        translation: No conforme
                      - locale: pt
                        translation: Não conforme
                      - locale: de
                        translation: Nicht konform
                      - locale: it
                        translation: Non conforme
                      - locale: vi
                        translation: Không tuân thủ
                      - locale: zh
                        translation: 不合要求
                      - locale: en
                        translation: Not Compliant
                      - locale: es
                        translation: No conforme
                      - locale: fr
                        translation: Non conforme
                      - locale: th
                        translation: ไม่เป็นไปตามข้อกำหนด
                      - locale: ja
                        translation: 対応不可
                    - id: ad9bc5a6-c774-4292-958c-045787968a1f
                      color: '#EBBB1C'
                      num: 0
                      default_status: true
                      names:
                      - locale: fr
                        translation: À faire
                      - locale: de
                        translation: Zu erledigen
                      - locale: zh
                        translation: 待办
                      - locale: th
                        translation: ที่ต้องทำ
                      - locale: ca
                        translation: Per fer
                      - locale: en
                        translation: To do
                      - locale: nl
                        translation: Te doen
                      - locale: ja
                        translation: するために
                      - locale: es
                        translation: Pendiente
                      - locale: it
                        translation: Da fare
                      - locale: pt
                        translation: Para fazer
                      - locale: vi
                        translation: Cần làm
                    - id: e792f411-093d-4fba-abdd-93a3af5e26da
                      color: '#264AA7'
                      num: 3
                      default_status: false
                      names:
                      - locale: fr
                        translation: Annulé
                    form_template:
                      id: 2ce76c9c-d083-4cf3-82f2-25150236a097
                      name: FormTemplate dans WS
                      version: 1
                      parts:
                      - id: f3a1b5b0-a9b1-4029-bc5f-2f05474ebf69
                        form_template_id: 2ce76c9c-d083-4cf3-82f2-25150236a097
                        name: Nom de la partie
                        num: 0
                        sections:
                        - id: 8017ce0e-8c55-47b0-9462-103c63d77c49
                          part_id: f3a1b5b0-a9b1-4029-bc5f-2f05474ebf69
                          name: Nom de la section
                          num: 0
                          qr_code: false
                          fields:
                          - id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                            form_template_section_id: 8017ce0e-8c55-47b0-9462-103c63d77c49
                            name: Entrez un nom de champ
                            num: 0
                            type_field_data: Text
                            type_field_presentation: SingleChoice
                            required: false
                            form_field_sa_control:
                              id: f658e05f-cbfa-4a3a-861d-52024331c5e7
                              form_field_id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                              na_values_allowed: true
                              presentation: RadioButton
                            form_field_choices:
                            - id: 53330627-6c44-43fe-a9e0-3eb8e754d302
                              form_field_id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                              name: Option 1
                              num: 1
                              is_default_value: false
                              evaluate_value: 3
                            - id: da7b9df8-0246-4a78-b138-4e21e1ed7cc6
                              form_field_id: ed90fc28-cbe9-4194-9f88-4c03a18e4485
                              name: Option 2
                              num: 2
                              is_default_value: false
                              evaluate_value: 3
                          - id: 4c79f526-d279-410f-ad62-3c1da3e8fafe
                            form_template_section_id: 8017ce0e-8c55-47b0-9462-103c63d77c49
                            name: Entrez un nom de champ
                            num: 1
                            type_field_data: Text
                            type_field_presentation: Paragraph
                            required: false
                            form_field_sa_text:
                              id: c16c788b-0a34-4963-8911-751933b5662f
                              form_field_id: 4c79f526-d279-410f-ad62-3c1da3e8fafe
                              only_text: false
                              case_sensitive: InitCapWholeText
                      progress: 0
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/forms/{form_id}/custom/infos:
    get:
      operationId: librariesFormTemplatesGetCustomTemplateAssociationInformation
      summary: Get custom template association information
      description: "Get the association between a form template and a custom report template.\n\n Endpoint mandatory parameters\
        \ \n Details \n\n organization_id \n id of your organization \n\n form_id \n the id of the form template"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                In_Progress:
                  value:
                    custom_template_name: DB-example-v1.odt
                    possible_output_formats:
                    - PDF
                    - ODT
                    - DOC
                    - DOCX
                    - TXT
                    - JPG
                    - PNG
                    - EPUB
                Success:
                  value:
                    custom_template_id: de838bffa11667325082594464bbc11974749f4de5729b1209ea7a4427c71129
                    custom_template_name: DB-example-v1.odt
                    possible_output_formats:
                    - PDF
                    - ODT
                    - DOC
                    - DOCX
                    - TXT
                    - JPG
                    - PNG
                    - EPUB
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/forms/{form_id}/custom/set:
    post:
      operationId: librariesFormTemplatesSetOrganizationFormTemplateCustomReportAssociation
      summary: Set organization form template custom report association
      description: "Set the association between a form template and a custom report template previously uploaded.\n\n Endpoint\
        \ mandatory parameters \n Details \n\n organization_id \n id of your organization \n\n form_id \n id the the form\
        \ template \n\n Body mandatory params \n\n media_id \n id returned by the media upload process"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              media_id: <uuid>
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/forms/{form_id}/statuses:
    get:
      operationId: librariesFormTemplatesGetFormTemplatesStatuses
      summary: Get form templates statuses
      description: "For a given form template you can list his statuses\n\n Endpoint mandatory infos \n Details \n\n organization_id\
        \ \n the id of your organization \n\n form_id \n the form template id"
      tags:
      - Libraries
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      - name: form_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `form_id` as published in the collection.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    statuses:
                    - id: 91a6da3e-426d-42bd-bdb9-9ea9e4f02e3e
                      name: To do
                      position: 0
                      color: '#EBBB1C'
                      enabled: false
                    - id: ac7bbfde-1ae8-4af9-b2e0-ca69023dad52
                      name: Done
                      position: 0
                      color: '#49CB0C'
                      enabled: false
                    - id: 8e2e608a-dbf9-4166-a601-0d85b4a930a7
                      name: Not Compliant
                      position: 0
                      color: '#E94F3D'
                      enabled: false
                    count: 3
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/{organization_id}/members:
    post:
      operationId: membersGetMembers
      summary: Get members
      description: "Before adding members to your project, you might want to have an overview of the current organization\
        \ users and their roles.\n\n Endpoint mandatory infos \n Details \n\n organization_id \n the id of the organization\
        \ to be checked \n\n Query params optionals \n\n see Commmon behaviors / differential \n\n Body optional infos \n\
        \ Details \n\n search_term \n search term for the email user field \n\n roles \n list of organization roles to filter\
        \ the users list \nthis filed is ignored if the search_term is used \n\n with_processing_members \n include or not\
        \ the processing users"
      tags:
      - Members
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: Path variable `organization_id` as published in the collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              with_processing_members: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    organization_members:
                    - id: 427380db-f465-48bd-a2d7-6788a4b07adc
                      membership_type: Member
                      user_id: 674ddb3e-6ce0fe28-6e85-4d0b-9efc-666f8c7fe7e6
                      legacy_id: 500001965
                      email: person.redacted@example.com
                      first_name: Damien
                      last_name: IROUVA
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2023-06-21T13:04:10.052724Z'
                      updated_at: '2023-06-21T13:04:18.272385Z'
                    - id: 966112b7-c1ab-4d43-895c-0dac53f13b41
                      membership_type: Member
                      user_id: 4b9382b5-e2d6a638-5011-4a9a-b3ac-9f87db62800b
                      legacy_id: 500004270
                      email: person.redacted+sandbox@example.com
                      first_name: Eivyda
                      last_name: JANKUNAITE
                      media_resource:
                        id: 024afa60-36f5-4db4-99c9-306d10f7e1b9
                        file_name: images.jpeg
                        mime_type: image/jpeg
                        created_at: '2023-03-20T08:57:51.725998Z'
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2023-03-02T13:16:29.80972Z'
                      updated_at: '2023-03-02T13:16:29.809737Z'
                    - id: 2b478519-c316-4026-9d3a-4293fe3fe110
                      membership_type: Member
                      user_id: b7a277a7-fadc0b1f-26b5-4800-97a1-33d935552c53
                      legacy_id: 500004484
                      email: person.redacted@example.com
                      first_name: Jade
                      last_name: ab
                      media_resource:
                        id: f775f8db-74f2-4bc6-a160-d34be8220f81
                        file_name: immeuble-de-bureaux-de-plan-52367600.jpeg
                        mime_type: image/jpeg
                        created_at: '2022-12-13T16:04:16.474872Z'
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2022-12-08T09:15:10.413826Z'
                      updated_at: '2022-12-08T09:15:10.413848Z'
                    - id: cd404d0f-ce28-4d42-bea7-969b8283ac20
                      membership_type: Member
                      user_id: 8b05d23b-b521f61b-de1c-46d1-9f81-c5b2621fe740
                      legacy_id: 500004839
                      email: person.redacted+plan@example.com
                      first_name: Jade
                      last_name: Abr
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2023-02-08T14:09:43.698678Z'
                      updated_at: '2023-02-08T15:01:08.940749Z'
                    - id: 798ca3db-bcb0-4b98-bbe9-8959c3b071b6
                      membership_type: Member
                      user_id: fdab2bfe-87196ebb-56c0-46ed-83c6-4bf803d86cf9
                      legacy_id: 500004723
                      email: person.redacted+test@example.com
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: true
                      is_processing: false
                      created_at: '2023-01-11T13:02:05.713988Z'
                      updated_at: '2023-01-11T13:02:05.714Z'
                    - id: f7172dae-fde8-42a2-8930-957e8d344666
                      membership_type: Member
                      user_id: 6996b70d-8fa9ce3a-dcf9-4bdd-a690-86d76294ec60
                      legacy_id: 500004724
                      email: person.redacted+test2@example.com
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: true
                      is_processing: false
                      created_at: '2023-01-11T13:07:46.741989Z'
                      updated_at: '2023-01-11T13:07:46.741991Z'
                    - id: 8f128201-35cf-4872-a928-d203eec7afd4
                      membership_type: Member
                      user_id: 5cf12ec0-fa67d814-befe-4055-a480-3bbbb34f6c01
                      legacy_id: 500003043
                      email: person.redacted@example.com
                      first_name: Josh
                      last_name: Josh
                      media_resource:
                        id: 28ceea7d-7741-4506-9191-cfbd5aa4bde2
                        file_name: josh.jpg
                        mime_type: image/jpeg
                        created_at: '2021-01-11T14:38:45.921Z'
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2023-01-10T08:44:18.619122Z'
                      updated_at: '2023-01-10T08:44:18.619122Z'
                    - id: 5733cec1-5c27-492c-bf1d-c9feb90b6577
                      membership_type: Member
                      user_id: 25ff0593-dd4c64d0-1579-4354-8a2b-260b34025b6a
                      legacy_id: 500004439
                      email: person.redacted+sandbox@example.com
                      first_name: Luc
                      last_name: Vallot
                      organization_role:
                        id: e735e603-225a-47d1-bd39-72a1afae7c9f
                        name: Organization admin
                        names:
                          translation_fallback: Organization admin
                          translations:
                          - language: es
                            translation: Administrador de la organización
                          - language: ja
                            translation: 組織管理者
                          - language: zh
                            translation: 组织管理员
                          - language: vi
                            translation: Quản trị viên của tổ chức
                          - language: fr
                            translation: Administrateur de l'organisation
                          - language: ca
                            translation: Administrador de l'organització
                          - language: nl
                            translation: Beheer organisatie
                          - language: th
                            translation: ผู้ดูแลองค์กร
                          - language: de
                            translation: Administrator der Organisation
                          - language: it
                            translation: Amministratore organizzazione
                          - language: pt
                            translation: Admin da organização
                          - language: en
                            translation: Organization admin
                        is_default: false
                        is_default_invitation_role: false
                        user_count: 3
                        position: 0
                        authorization_role_id: e735e603-225a-47d1-bd39-72a1afae7c9f
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2022-06-30T08:35:05.940464Z'
                      updated_at: '2022-06-30T08:35:06.862619Z'
                    - id: 164dee2f-46db-47c1-80bf-db10c078504f
                      membership_type: Member
                      user_id: 8f0eebde-0fa7f000-f573-4054-b1a6-b92b002a513e
                      legacy_id: 5493
                      email: person-c@example.com
                      first_name: Mathieu
                      last_name: Bourgois
                      job_title: dev
                      organization_role:
                        id: e735e603-225a-47d1-bd39-72a1afae7c9f
                        name: Organization admin
                        names:
                          translation_fallback: Organization admin
                          translations:
                          - language: es
                            translation: Administrador de la organización
                          - language: ja
                            translation: 組織管理者
                          - language: zh
                            translation: 组织管理员
                          - language: vi
                            translation: Quản trị viên của tổ chức
                          - language: fr
                            translation: Administrateur de l'organisation
                          - language: ca
                            translation: Administrador de l'organització
                          - language: nl
                            translation: Beheer organisatie
                          - language: th
                            translation: ผู้ดูแลองค์กร
                          - language: de
                            translation: Administrator der Organisation
                          - language: it
                            translation: Amministratore organizzazione
                          - language: pt
                            translation: Admin da organização
                          - language: en
                            translation: Organization admin
                        is_default: false
                        is_default_invitation_role: false
                        user_count: 3
                        position: 0
                        authorization_role_id: e735e603-225a-47d1-bd39-72a1afae7c9f
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2023-02-08T11:04:12.152411Z'
                      updated_at: '2023-02-08T11:04:21.424427Z'
                    - id: 73001071-62a5-4be3-bcc6-aadba62c54ec
                      membership_type: Member
                      user_id: dc157afc-84607076-50ba-4e6a-8bf6-18a6676554a3
                      legacy_id: 500004722
                      email: person.redacted+d@example.com
                      first_name: ugazf
                      last_name: aozifh
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2023-01-10T16:10:07.389358Z'
                      updated_at: '2023-01-10T16:10:46.783037Z'
                    - id: bbbefa4f-36a8-425f-b8b4-c7d73bb6ec9b
                      membership_type: Member
                      user_id: 19727e12-e5b6df02-625b-47f2-be7a-69622f45e73f
                      legacy_id: 500004518
                      email: person.redacted+sandbox@example.com
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
                            translation: สมาชิกองค์กร
                          - language: en
                            translation: Organization member
                          - language: es
                            translation: Miembro de la organización
                        is_default: true
                        is_default_invitation_role: false
                        user_count: 14
                        position: 0
                        authorization_role_id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        higher_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        is_lower_role: false
                      is_pending: true
                      is_processing: false
                      created_at: '2022-08-25T07:03:15.415763Z'
                      updated_at: '2022-08-25T07:03:15.415763Z'
                    - id: df41b4ca-a485-4eb3-9af1-d224d435968d
                      membership_type: Member
                      user_id: 3a93b7d2-6cdbc225-1324-44ca-ba13-67e865d3620a
                      legacy_id: 500003141
                      email: person.redacted+test@example.com
                      first_name: Mathieu
                      last_name: Bourgois
                      media_resource:
                        id: 46579746-ec37-4465-a0ff-5993d1e7d7ab
                        file_name: cat.png
                        mime_type: image/png
                        created_at: '2022-02-28T09:28:41.196255Z'
                      organization_role:
                        id: e735e603-225a-47d1-bd39-72a1afae7c9f
                        name: Organization admin
                        names:
                          translation_fallback: Organization admin
                          translations:
                          - language: es
                            translation: Administrador de la organización
                          - language: ja
                            translation: 組織管理者
                          - language: zh
                            translation: 组织管理员
                          - language: vi
                            translation: Quản trị viên của tổ chức
                          - language: fr
                            translation: Administrateur de l'organisation
                          - language: ca
                            translation: Administrador de l'organització
                          - language: nl
                            translation: Beheer organisatie
                          - language: th
                            translation: ผู้ดูแลองค์กร
                          - language: de
                            translation: Administrator der Organisation
                          - language: it
                            translation: Amministratore organizzazione
                          - language: pt
                            translation: Admin da organização
                          - language: en
                            translation: Organization admin
                        is_default: false
                        is_default_invitation_role: false
                        user_count: 3
                        position: 0
                        authorization_role_id: e735e603-225a-47d1-bd39-72a1afae7c9f
                        is_lower_role: false
                      is_pending: false
                      is_processing: false
                      created_at: '2022-05-24T08:23:51.560536Z'
                      updated_at: '2022-06-30T08:36:07.204122Z'
                    - id: 27b0a0a5-7867-4c81-be03-6c98e8218134
                      membership_type: Member
                      user_id: 44b76c1c-0466376f-46cd-46bc-8685-261abb613a71
                      legacy_id: 500004721
                      email: person.redacted+test2@example.com
                      organization_role:
                        id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        name: Workspace Manager
                        names:
                          translation_fallback: Workspace Manager
                          translations:
                          - language: th
                            translation: ผู้จัดการพื้นที่ทำงาน
                          - language: de
                            translation: Workspace Manager
                          - language: nl
                            translation: Werkruimtebeheer
                          - language: en
                            translation: Workspace Manager
                          - language: vi
                            translation: Quản lý không gian làm việc
                          - language: es
                            translation: Gestor de espacio de trabajo
                          - language: fr
                            translation: Manager d'espace de travail
                          - language: it
                            translation: Responsabile dello spazio di lavoro
                          - language: zh
                            translation: 工作空间管理者
                          - language: ja
                            translation: ワークスペース・マネージャー
                          - language: pt
                            translation: Gestor do espaço de trabalho
                          - language: ca
                            translation: Gestor de l'entorn de treball
                        is_default: false
                        is_default_invitation_role: false
                        user_count: 1
                        position: 0
                        authorization_role_id: fbaed956-2c60-42b5-8763-8f62d6dd74a7
                        higher_role_id: e735e603-225a-47d1-bd39-72a1afae7c9f
                        is_lower_role: false
                      is_pending: true
                      is_processing: false
                      created_at: '2023-01-10T16:07:02.708705Z'
                      updated_at: '2023-01-10T16:07:26.826521Z'
                    - id: 7a26919a-24f5-4ec3-bbcd-5ca496d81cd5
                      membership_type: Member
                      user_id: 5a9367a0-607e9b7d-de7b-4eef-9ece-9bc612d0f584
                      legacy_id: 500004408
                      email: person-b@example.com
                      first_name: Francis
                      last_name: Maccio
                      media_resource:
                        id: d6537681-e710-47fa-8ad4-9c395c14779f
                        file_name: 20200731_174858.jpg
                        mime_type: image/jpeg
                        created_at: '2022-08-01T14:26:49.071228Z'
                      organization_role:
                        id: 932c489a-06dc-427b-912c-ca2d9709ac8e
                        name: Organization member
                        names:
                          translation_fallback: Organization member
                          translations:
                          - language: nl
                            translation: Lid organisatie
                          - language: ja
                            translation: 組織メンバー
                          - language: pt
                            translation: Membro da organização
                          - language: it
                            translation: Membro organizzazione
                          - language: fr
                            translation: Membre de l'organisation
                          - language: vi
                            translation: Thành viên của tổ chức
                          - language: ca
                            translation: Membre de l'organització
                          - language: de
                            translation: Mitglied der Organisation
                          - language: zh
                            translation: 组织成员
                          - language: th
[...]
