openapi: 3.1.0
info:
  title: Finalcad One Authentication API
  version: '2.41'
  summary: Obtain a user token for the Finalcad One API. The API Key identifies the calling organization (`X-API-Key`); the
    user token carries the caller's rights.
  description: 'Obtain a user token for the Finalcad One API. The API Key identifies the calling organization (`X-API-Key`);
    the user token carries the caller''s rights.


    DERIVED, NOT PUBLISHED BY THE PROVIDER. Finalcad publishes no OpenAPI. This document was mechanically derived by API Evangelist
    from the first-party public Postman collection "Finalcad One API" served by Finalcad at https://developer.finalcad.com/
    (collection JSON: https://developer.finalcad.com/api/collections/10995648/Tz5v1Es2), saved in this repo at collections/finalcad.postman_collection.json.
    Every path, method, header, query parameter, example request body and example response below is carried over from that
    collection; nothing was invented. Request/response bodies are typed as generic objects because the collection carries
    examples, not schemas. Four Finalcad employees'' personal e-mail addresses that appeared in the collection''s example
    payloads were replaced with placeholders; nothing else was changed.'
  contact:
    name: Finalcad One API — developer portal
    url: https://developer.finalcad.com/
  x-generated-by: API Evangelist enrichment pipeline (derived from the first-party Postman collection)
  x-source: collections/finalcad.postman_collection.json
  x-source-url: https://developer.finalcad.com/
servers:
- url: https://developer.finalcad.cloud/api
  description: Production — the baseUrl variable published in the Finalcad One API Postman collection.
- url: https://developer.sandbox.finalcad.cloud/api
  description: Sandbox — published by Finalcad in the 'Retrieve data in Power BI' tutorial of the same collection.
security:
- apiKey: []
  tokenAuth: []
tags:
- name: Authentication
paths:
  /auth:
    post:
      operationId: getUserToken
      summary: Get user token
      description: Legacy endpoint to get user_token.
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              login: <string>
              password: <string>
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /organizations/user-infos/me:
    get:
      operationId: getConnectedUser
      summary: Get connected user
      description: You can check your user information.
      tags:
      - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Success:
                  value:
                    id: <my_user_id>
                    first_name: <my_first_name>
                    last_name: <my_name>
                    email: <my_email>
                    is_active: 'true'
                    email_validated: 'true'
                    created_at: '2022-06-02T07:28:34.483278Z'
                    updated_at: '2023-07-26T13:24:40.68237Z'
                    media_resource:
                      id: 737a4362-0371-4742-9b58-ffe4d4d2e768
                      file_name: logo.png
                      mime_type: image/png
                      created_at: '2023-07-26T13:24:40.672379Z'
        '400':
          description: Bad Request — an `api_code` static error code and message envelope. See errors/finalcad-problem-types.yml.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized — the API key or user token is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Server error — a constructed `{ProcessCode}_ERR{n}` api_code envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key issued by Finalcad to organizations on an Enterprise licence. Sent on every call.
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: '`Authorization: token <your_api_key>`, or `Authorization: bearer <user_token>` for the legacy user-token
        flow (POST /auth).'
  schemas:
    ApiError:
      type: object
      description: Finalcad One error envelope. `api_code` is either a static code (mostly 4xx, e.g. INVALID_INSTANCE_STATE)
        or a constructed code of the form {ProcessCode}_ERR{n} / {ProcessCode}_WRN{n} (mostly 5xx).
      properties:
        statut:
          type: integer
          description: HTTP status code, repeated in the body (spelled `statut`).
        api_code:
          type: string
          description: Internal Finalcad API error code.
        message:
          type: string
          description: Short explanation of the abnormality encountered.
        data:
          type: object
          description: Complementary data to help understand the error.
          additionalProperties: true
    Paginated:
      type: object
      description: Finalcad's shared pagination / differential envelope. Re-sending the last continuous_token returns only
        elements added, modified or deleted since that call.
      properties:
        need_to_relaunch:
          type: boolean
          description: True when more elements remain to retrieve.
        continuous_token:
          type: string
          description: Opaque cursor to send on the next call.
        count:
          type: integer
          description: Number of elements returned by this call.
        total_count:
          type: integer
          description: Total number of elements across all calls.
        limit:
          type: integer
          description: Maximum elements per page. Default 50.
        offset:
          type: integer
          description: Offset paging; must be a multiple of limit.
  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      schema:
        type: string
        default: en
      description: Language the API operates in. Allowed values come from GET /languages. Default English (en).
